<div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
  <h4 class="mb-sm-0">Spares Item Master</h4>
</div>

<div class="row" id="item-master-spares">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-end align-items-center">
          <!-- Download Excel Button -->
          <button class="btn btn-success btn-sm me-3" [ngbTooltip]="'Export to Excel'"
            (click)="downloadItemMasterExcel()">
            <i class="ri-file-excel-2-line"></i>
          </button>
          <button class="btn btn-primary btn-sm me-3" (click)="openAddItem(addItemModal)">
            +
          </button>
          <!-- Search Box -->

          <div class="search-box">
            <input type="text" class="form-control search" placeholder="Search..." (input)="searchItems($event)" />
            <i class="ri-search-line search-icon"></i>
          </div>

          <div>

          </div>
        </div>

      </div>
      <!-- end card header -->

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered mb-0 table-sm">
            <thead class="table-bgColor">
              <tr>
                <th>Sr No.</th>
                <th class="sort" (click)="sort('itemtype')" data-sort="itemtype">Item Type</th>
                <th class="sort" (click)="sort('itemname')" data-sort="itemname">Part No</th>
                <th class="sort" (click)="sort('itemcode')" data-sort="itemcode">Part Code</th>
                <th class="sort" (click)="sort('itemdesc')" data-sort="itemdesc">Item Description</th>
                <th class="sort" (click)="sort('iselectric')" data-sort="iselectric"> Is OEM Part</th>
                <th class="sort" (click)="sort('hsncode')" data-sort="hsncode">HSNCode</th>
                <!-- <th class="sort" (click)="sort('custprice')" style="cursor:pointer" data-sort="custprice">Customer Price</th>
                <th class="sort" (click)="sort('dlrprice')" style="cursor:pointer" data-sort="dlrprice">Dealer Price</th> -->
                <th class="sort" (click)="sort('igst')" data-sort="igst"> IGST </th>
                <th class="sort" (click)="sort('status')" data-sort="status"> Status </th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let data of pagedData; let i = index" (dblclick)="openDetails(itemModal,data)"
                style="cursor:pointer">

                <td>
                  {{ (page - 1) * pageSize + i + 1 }}
                </td>

                <td>
                  <ngb-highlight [result]="data?.grpid == 1 ? 'Vehicle' : 'Parts'" [term]="searchTerm">
                  </ngb-highlight>
                </td>

                <td>
                  <ngb-highlight [result]="data.itemname" [term]="searchTerm">
                  </ngb-highlight>
                </td>

                <td>
                  <ngb-highlight [result]="data.itemcode" [term]="searchTerm">
                  </ngb-highlight>
                </td>

                <td>
                  <ngb-highlight [result]="data.itemdesc" [term]="searchTerm">
                  </ngb-highlight>
                </td>

                <td>
                  <span class="badge" [ngClass]="data.iselectric ? 'bg-success' : 'bg-danger'">
                    {{ data.iselectric ? 'Yes' : 'No' }}
                  </span>
                </td>

                <td>
                  <ngb-highlight [result]="data.hsncode" [term]="searchTerm">
                  </ngb-highlight>
                </td>

                <td>
                  <ngb-highlight [result]="data.igst" [term]="searchTerm">
                  </ngb-highlight>
                </td>

                <td>
                  <span class="badge" [ngClass]="data.status ? 'bg-success' : 'bg-danger'">
                    {{ data.status ? 'Active' : 'Inactive' }}
                  </span>
                </td>

              </tr>

            </tbody>
          </table>
        </div>
        <div class="row justify-content-md-between align-items-md-center">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
              <!-- Showing
              {{service.startIndex}} to
              {{service.endIndex}} of {{service.totalRecords}}
              entries -->
            </div>
          </div>
          <!-- Pagination -->
          <!-- <div class="col-sm-12 col-md-5">
            <div class="text-md-right float-md-end gridjs-pagination">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="pageChange($event)">
              </ngb-pagination>
            </div>
          </div> -->
          <div class="col-sm-12 col-md-12 mt-2">
            <div class="text-md-right float-md-end gridjs-pagination">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="10"
                [boundaryLinks]="true" (pageChange)="pageChange($event)">
              </ngb-pagination>
            </div>
          </div>
          <!-- End Pagination -->
        </div>
      </div><!-- end card-body -->
    </div><!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<!-- item popoup -->
<ng-template #itemModal let-modal>

  <div class="modal-header item-modal-header">
    <h5 class="modal-title">
      Parts Item Master</h5>
    <button type="button" class="btn-close btn-close-white" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-2">
        <label class="form-label">Item Type</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.itemtype == 1 ? 'Vehicle' : 'Parts'"
          readonly>
      </div>

      <div class="col-md-2">
        <label class="form-label">Part No</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.itemname" readonly />
      </div>
      <div class="col-md-2">
        <label class="form-label">Description</label>
        <input type="text" class="form-control form-control-sm" [value]="selectedItem?.itemdesc" readonly />
      </div>
      <div class="col-md-2">
        <label class="form-label">Part Code</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.itemcode" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">Is OEM Part</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.iselectric ? 'Yes' : 'No'" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">OEM Part No.</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">Select Group</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.grpidno == 1 ? 'Spares' : 'FG'" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">Vehicle Model Name</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.oemmodelname" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">OEM Part Description</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-2">
         <label class="form-label">
          Supplier
        </label>
        <select class="form-select form-select-sm" [(ngModel)]="itemObj.supplierId" name="supplierId">

          <option [ngValue]="null">-- Select Supplier --</option>

          <option *ngFor="let supplier of supplierlist" [ngValue]="supplier.id">
            {{ supplier.ledgerName }}
          </option>

        </select>
      </div>
      <div class="col-md-2">
        <label class="form-label">UOM</label>
        <input class="form-control form-control-sm" [value]="'PCS'" readonly>
      </div>

      <div class="col-md-2">
        <label class="form-label">HSN Code</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.hsncode" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">TAX[%]</label>
        <input class="form-control form-control-sm" [value]="'0.00'" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">SGST</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.sgst" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">CGST</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.cgst" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">IGST</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.igst" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">UGST</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.ugst" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">GST Cess</label>
        <input class="form-control form-control-sm" [value]="'0'" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">TCS</label>
        <input class="form-control form-control-sm" [value]="'0'" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">Item Category</label>
        <input class="form-control form-control-sm" [value]="'Parts'" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">HRs/TAT</label>
        <input class="form-control form-control-sm" [value]="'0.00'" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">List Price</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.dlrprice" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">Item MRP</label>
        <input class="form-control form-control-sm" [value]="'0.00'" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">OEM MRP</label>
        <input class="form-control form-control-sm" [value]="'0.00'" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">Purchase Rate</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.ipurrate" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">Sale Rate</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.custprice" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">Margin %</label>
        <input class="form-control form-control-sm" [value]="'0.00'" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">Part Labr</label>
        <input class="form-control form-control-sm" [value]="'0.00'" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">Re-Ord</label>
        <input class="form-control form-control-sm" [value]="'0.00'" readonly>
      </div>
      <div class="col-md-2">
        <label class="form-label">Min Bill QTY</label>
        <input class="form-control form-control-sm" [(ngModel)]="selectedItem.minBillQty">
      </div>
      <div class="col-md-2">
        <label class="form-label">Min Order QTY</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="selectedItem.minOrderQty">
      </div>
      <div class="col-md-2">
        <label class="form-label">Warranty Period</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="selectedItem.warrantyPeriod">
      </div>
      <div class="col-md-2">
        <label class="form-label">Month/Year</label>
        <select class="form-select form-select-sm" name="durationType" [(ngModel)]="selectedItem.warrantyDurationType"
          #durationType="ngModel">
          <option *ngFor="let durationType of durationTypes" [value]="durationType.id">
            {{ durationType.title }}
          </option>
        </select>
      </div>
      <div class="col-md-2">
        <label class="form-label">Warranty Kms.</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="selectedItem.warrantyKms">
      </div>
      <div class="col-md-2">
        <label class="form-label">Item Wrnt. Approval</label> <br>
        <div class="form-check form-switch d-inline-block">
          <input type="checkbox" class="form-check-input" id="isWarrantyApproval" name="isWarrantyApproval"
            #isWarrantyApproval="ngModel" [(ngModel)]="selectedItem.isWarrantyApproval">
          <label class="form-check-label small" for="isWarrantyApproval">
            {{ selectedItem.isWarrantyApproval ? 'Y' : 'N' }}
          </label>
        </div>
      </div>
      <div class="col-md-2">
        <label class="form-label">VOR Rate</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="selectedItem.vorRate">
      </div>
      <div class="col-md-2">
        <label class="form-label">VOR Specific</label><br>
        <div class="form-check form-switch d-inline-block">
          <input type="checkbox" class="form-check-input" name="isVOR" #isVOR="ngModel"
            [(ngModel)]="selectedItem.isVOR">
          <label class="form-check-label small" for="isVOR">
            {{ selectedItem.isVOR ? 'Y' : 'N' }}
          </label>
        </div>
      </div>
      <div class="col-md-12">
        <label class="form-label">Remarks</label>
        <input class="form-control form-control-sm" [(ngModel)]="selectedItem.remarks">
      </div>
      <!-- Checkbox info -->
      <div class="row">
        <div class="col-md-2">
          <input class="form-check-input" type="checkbox" id="isExempted" [(ngModel)]="selectedItem.isExempted">
          <label class="form-check-label" for="isExempted">&nbsp; IS Exempted</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input" type="checkbox" id="toolkitFirstAid"
            [(ngModel)]="selectedItem.isToolkitFirstAid">
          <label class="form-check-label" for="toolkitFirstAid"> &nbsp; ToolKit/First Aid.</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input" type="checkbox" id="mustStock" [(ngModel)]="selectedItem.isStockRequired">
          <label class="form-check-label" for="mustStock">&nbsp; Must Stock</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input" type="checkbox" id="isHelmet" [(ngModel)]="selectedItem.isHelmet">
          <label class="form-check-label" for="isHelmet">&nbsp; Save as Helmet</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input" type="checkbox" id="isInventory" [(ngModel)]="selectedItem.isInventory">
          <label class="form-check-label" for="isInventory">&nbsp; Non-Inventory</label>
        </div>
        <div class="col-md-2">
          <input class="form-check-input" type="checkbox" id="ineligibleInput"
            [(ngModel)]="selectedItem.isInEligibleInput">
          <label class="form-check-label" for="ineligibleInput"> &nbsp; In-eligible Input</label>
        </div>
      </div>
      <!-- end checkbox -->
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="updateItem()">Update</button>
    <button class="btn btn-danger btn-sm" (click)="modal.close()">Close</button>
  </div>
</ng-template>
<!-- end item popup -->

<!-- Add item popup-->
<ng-template #addItemModal let-modal>

  <div class="modal-header item-modal-header">
    <h5 class="modal-title">
      <i class="ri-add-circle-line me-2"></i>
      Add Parts Item Master
    </h5>

    <button type="button" class="btn-close btn-close-white" (click)="modal.dismiss()">
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <!-- Item Type -->
      <div class="col-md-2">
        <label class="form-label">
          Item Type <span class="text-danger">*</span>
        </label>
        <select class="form-select form-select-sm" [(ngModel)]="itemObj.itemtype" name="itemtype">
          <option [ngValue]="1">Vehicle</option>
          <option [ngValue]="2">Parts</option>
          <option [ngValue]="3">Labour</option>
          <option [ngValue]="4">Accessory</option>
          <option [ngValue]="6">Outside Work</option>
          <option [ngValue]="7">Complain</option>
          <option [ngValue]="8">Tyre</option>
          <option [ngValue]="9">Oil</option>
          <option [ngValue]="10">Gift</option>
          <option [ngValue]="12">Battery/E-Device</option>
        </select>
      </div>
      <!-- Part No -->
      <div class="col-md-2">
        <label class="form-label">
          Part No <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="itemObj.itemname" name="itemname"
          placeholder="Enter Part No">
      </div>
      <!-- Description -->
      <div class="col-md-2">
        <label class="form-label">
          Description <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="itemObj.itemdesc" name="itemdesc"
          placeholder="Enter Description">
      </div>
      <!-- Part Code -->
      <div class="col-md-2">
        <label class="form-label">
          Part Code
        </label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="itemObj.itemcode" name="itemcode">
      </div>

      <!-- OEM Part -->
      <div class="col-md-2">

        <label class="form-label">
          Is OEM Part
        </label>

        <select class="form-select form-select-sm" [(ngModel)]="itemObj.iselectric" name="iselectric">

          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>

        </select>

      </div>

      <!-- OEM Part No -->
      <div class="col-md-2">

        <label class="form-label">
          OEM Part No.
        </label>

        <input class="form-control form-control-sm" [(ngModel)]="itemObj.oemPartNo" name="oemPartNo">

      </div>

      <!-- Group -->
      <div class="col-md-2">

        <label class="form-label">
          Select Group
        </label>

        <select class="form-select form-select-sm" [(ngModel)]="itemObj.grpidno" name="grpidno">

          <option selected="selected" [ngValue]="1">Spares</option>
          <option [ngValue]="2">Tools</option>
          <option [ngValue]="3">Accessories</option>
          <option [ngValue]="6">FG</option>
          <option [ngValue]="16">FGWG</option>
          <option [ngValue]="80">Electric 2 Wheeler</option>
          <option [ngValue]="81">Spares</option>
          <option [ngValue]="82">Consumable</option>
          <option [ngValue]="83">Packing</option>
          <option [ngValue]="98">BGAUSS B8</option>
          <option [ngValue]="99">BGAUSS A2</option>
          <option [ngValue]="100">Parts</option>
          <option [ngValue]="101">BGAUSS B8.</option>
          <option [ngValue]="102">BGAUSS A2.</option>
          <option [ngValue]="198">A2</option>
          <option [ngValue]="199">B8</option>
          <option [ngValue]="205">A2/B8</option>
          <option [ngValue]="259">Other</option>
          <option [ngValue]="11448">C12</option>
          <option [ngValue]="11449">D15</option>
          <option [ngValue]="11450">Generic</option>
          <option [ngValue]="11493">Extended Warranty</option>
          <option [ngValue]="11536">Initial Kit</option>
          <option [ngValue]="12039">FGWB</option>

        </select>

      </div>

      <!-- Vehicle Model -->
      <!-- <div class="col-md-2">

        <label class="form-label">
          Vehicle Model Name
        </label>

        <select class="form-select form-select-sm" [(ngModel)]="itemObj.oemModelId" name="oemModelId">

          <option [ngValue]="null">
            Select Model
          </option>

          <option *ngFor="let model of modelList" [ngValue]="model.id">

            {{model.modelName}}

          </option>

        </select>

      </div> -->

      <!-- OEM Description -->
      <div class="col-md-2">

        <label class="form-label">
          OEM Part Description
        </label>

        <input class="form-control form-control-sm" [(ngModel)]="itemObj.oemPartDescription" name="oemPartDescription">

      </div>
      <div class="col-md-2">
         <label class="form-label">
          Supplier
        </label>
        <select class="form-select form-select-sm" [(ngModel)]="itemObj.supplierId" name="supplierId">

          <option [ngValue]="null">-- Select Supplier --</option>

          <option *ngFor="let supplier of supplierlist" [ngValue]="supplier.id">
            {{ supplier.ledgerName }}
          </option>

        </select>
      </div>
      <!-- UOM -->
      <div class="col-md-2">

        <label class="form-label">
          UOM
        </label>

        <select class="form-select form-select-sm" [(ngModel)]="itemObj.uom" name="uom">

          <option value="39">Kit</option>
          <option value="40">Make</option>
          <option value="42">PCS</option>
          <option value="56">Unit</option>

        </select>

      </div>

      <!-- HSN -->
      <div class="col-md-2">

        <label class="form-label">
          HSN Code
        </label>

        <input class="form-control form-control-sm" [(ngModel)]="itemObj.hsncode" name="hsncode">

      </div>

      <!-- GST -->
      <div class="col-md-2">

        <label class="form-label">
          TAX %
        </label>

        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.taxPercent" name="taxPercent">

      </div>

      <!-- SGST -->
      <div class="col-md-2">

        <label class="form-label">
          SGST
        </label>

        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.sgst" name="sgst">

      </div>

      <!-- CGST -->
      <div class="col-md-2">

        <label class="form-label">
          CGST
        </label>

        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.cgst" name="cgst">

      </div>

      <!-- IGST -->
      <div class="col-md-2">

        <label class="form-label">
          IGST
        </label>

        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.igst" name="igst">

      </div>

      <!-- UGST -->
      <div class="col-md-2">

        <label class="form-label">
          UGST
        </label>

        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.ugst" name="ugst">

      </div>

      <!-- GST Cess -->
      <div class="col-md-2">

        <label class="form-label">
          GST Cess
        </label>

        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.gstCess" name="gstCess">

      </div>

      <!-- TCS -->
      <div class="col-md-2">

        <label class="form-label">
          TCS
        </label>

        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.tcs" name="tcs">

      </div>

      <!-- Item Category -->
      <div class="col-md-2">

        <label class="form-label">
          Item Category
        </label>

        <select class="form-select form-select-sm" [(ngModel)]="itemObj.itemCategory" name="itemCategory">

          <option value="Parts">Parts</option>
          <option value="Vehicle">Vehicle</option>

        </select>

      </div>

      <!-- HR/TAT -->
      <div class="col-md-2">
        <label class="form-label">
          HRs / TAT
        </label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.hrsTat" name="hrsTat">
      </div>

      <!-- List Price -->
      <div class="col-md-2">
        <label class="form-label">List Price</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.dlrprice" name="dlrprice">
      </div>

      <!-- Item MRP -->
      <div class="col-md-2">
        <label class="form-label">Item MRP</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.itemMrp" name="itemMrp">
      </div>

      <!-- OEM MRP -->
      <div class="col-md-2">
        <label class="form-label">OEM MRP</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.oemMrp" name="oemMrp">
      </div>

      <!-- Purchase Rate -->
      <div class="col-md-2">
        <label class="form-label">Purchase Rate</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.ipurrate" name="ipurrate">
      </div>

      <!-- Sale Rate -->
      <div class="col-md-2">
        <label class="form-label">Sale Rate</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.custprice" name="custprice">
      </div>

      <!-- Margin -->
      <div class="col-md-2">
        <label class="form-label">Margin %</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.margin" name="margin">
      </div>

      <!-- Part Labour -->
      <div class="col-md-2">
        <label class="form-label">Part Labour</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.partLabour" name="partLabour">
      </div>

      <!-- Re Order -->
      <div class="col-md-2">
        <label class="form-label">Re-Order Qty</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.reOrderQty" name="reOrderQty">
      </div>

      <!-- Minimum Bill Qty -->
      <div class="col-md-2">
        <label class="form-label">Min Bill Qty</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.minBillQty" name="minBillQty">
      </div>

      <!-- Minimum Order Qty -->
      <div class="col-md-2">
        <label class="form-label">Min Order Qty</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.minOrderQty" name="minOrderQty">
      </div>

      <!-- Warranty Period -->
      <div class="col-md-2">
        <label class="form-label">Warranty Period</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.warrantyPeriod"
          name="warrantyPeriod">
      </div>

      <!-- Warranty Type -->
      <div class="col-md-2">
        <label class="form-label">Month / Year</label>
        <select class="form-select form-select-sm" [(ngModel)]="itemObj.warrantyDurationType"
          name="warrantyDurationType">

          <option *ngFor="let type of durationTypes" [ngValue]="type.id">
            {{type.title}}
          </option>

        </select>
      </div>

      <!-- Warranty Kms -->
      <div class="col-md-2">
        <label class="form-label">Warranty Kms.</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.warrantyKms" name="warrantyKms">
      </div>

      <!-- Warranty Approval -->
      <div class="col-md-2">
        <label class="form-label d-block">Warranty Approval</label>

        <div class="form-check form-switch mt-2">
          <input class="form-check-input" type="checkbox" [(ngModel)]="itemObj.isWarrantyApproval"
            name="isWarrantyApproval">

          <label class="form-check-label">
            {{itemObj.isWarrantyApproval ? 'Yes' : 'No'}}
          </label>
        </div>
      </div>

      <!-- VOR Rate -->
      <div class="col-md-2">
        <label class="form-label">VOR Rate</label>
        <input type="number" class="form-control form-control-sm" [(ngModel)]="itemObj.vorRate" name="vorRate">
      </div>

      <!-- VOR -->
      <div class="col-md-2">
        <label class="form-label d-block">VOR Specific</label>

        <div class="form-check form-switch mt-2">
          <input class="form-check-input" type="checkbox" [(ngModel)]="itemObj.isVOR" name="isVOR">

          <label class="form-check-label">
            {{itemObj.isVOR ? 'Yes' : 'No'}}
          </label>
        </div>
      </div>

      <!-- Remarks -->
      <div class="col-md-12">
        <label class="form-label">Remarks</label>

        <textarea rows="1" class="form-control form-control-sm" [(ngModel)]="itemObj.remarks" name="remarks">
        </textarea>
      </div>
    </div>
  </div>
  <hr>


  <!-- Checkbox Section -->

  <div class="row">

    <div class="col-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="itemObj.isExempted" name="isExempted">

        <label class="form-check-label">
          GST Exempted
        </label>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="itemObj.isToolkitFirstAid"
          name="isToolkitFirstAid">

        <label class="form-check-label">
          Tool Kit / First Aid
        </label>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="itemObj.isStockRequired" name="isStockRequired">

        <label class="form-check-label">
          Must Stock
        </label>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="itemObj.isHelmet" name="isHelmet">

        <label class="form-check-label">
          Save As Helmet
        </label>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="itemObj.isInventory" name="isInventory">

        <label class="form-check-label">
          Non Inventory
        </label>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="itemObj.isInEligibleInput"
          name="isInEligibleInput">

        <label class="form-check-label">
          In Eligible Input
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary btn-sm" (click)="saveItem()">
      <i class="ri-save-line me-1"></i>
      Save
    </button>

    <button type="button" class="btn btn-warning btn-sm" (click)="resetForm()">
      <i class="ri-refresh-line me-1"></i>
      Reset
    </button>

    <button type="button" class="btn btn-light btn-sm" (click)="modal.dismiss()">
      <i class="ri-close-line me-1"></i>
      Cancel
    </button>

  </div>

</ng-template>
<!-- end item popup-->