<div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
  <h4 class="mb-sm-0">Spares Item Master</h4>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-end align-items-center">
          <!-- Download Excel Button -->
          <button class="btn btn-success btn-sm me-3" (click)="downloadItemMasterExcel()">
            <i class="ri-file-excel-2-line"></i>
          </button>
          <!-- Search Box -->

          <div class="search-box">
            <input type="text" class="form-control search" placeholder="Search..." (input)="searchItems($event)" />
            <i class="ri-search-line search-icon"></i>
          </div>
        </div>

      </div>
      <!-- end card header -->

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-gridjs">
            <thead class="table-bgColor">
              <tr>
                <th>Sr No.</th>
                <th class="sort" (click)="sort('itemtype')" data-sort="itemtype">Item Type</th>
                <th class="sort" (click)="sort('itemname')" data-sort="itemname">Part No</th>
                <th class="sort" (click)="sort('itemcode')" data-sort="itemcode">Part Code</th>
                <th class="sort" (click)="sort('itemdesc')" data-sort="itemdesc">Item Description</th>
                <th class="sort" (click)="sort('iselectric')" data-sort="iselectric"> Is OEM Part</th>
                <th class="sort" (click)="sort('hsncode')" data-sort="hsncode">HSNCode</th>
                <!-- <th class="sort" (click)="sort('custprice')" style="cursor:pointer" data-sort="custprice">Customer Price</th>
                <th class="sort" (click)="sort('dlrprice')" style="cursor:pointer" data-sort="dlrprice">Dealer Price</th> -->
                <th class="sort" (click)="sort('igst')" data-sort="igst"> IGST </th>
                <th class="sort" (click)="sort('status')" data-sort="status"> Status </th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let data of pagedData; let i = index" (click)="openDetails(itemModal,data)"
                style="cursor:pointer">

                <td>
                  {{ (page - 1) * pageSize + i + 1 }}
                </td>

                <td>
                  <ngb-highlight [result]="data?.grpid == 1 ? 'Vehicle' : 'Parts'" [term]="searchTerm">
                  </ngb-highlight>
                </td>

                <td>
                  <ngb-highlight [result]="data.itemname" [term]="searchTerm">
                  </ngb-highlight>
                </td>

                <td>
                  <ngb-highlight [result]="data.itemcode" [term]="searchTerm">
                  </ngb-highlight>
                </td>

                <td>
                  <ngb-highlight [result]="data.itemdesc" [term]="searchTerm">
                  </ngb-highlight>
                </td>

                <td>
                  <span class="badge" [ngClass]="data.iselectric ? 'bg-success' : 'bg-danger'">
                    {{ data.iselectric ? 'Yes' : 'No' }}
                  </span>
                </td>

                <td>
                  <ngb-highlight [result]="data.hsncode" [term]="searchTerm">
                  </ngb-highlight>
                </td>

                <td>
                  <ngb-highlight [result]="data.igst" [term]="searchTerm">
                  </ngb-highlight>
                </td>

                <td>
                  <span class="badge" [ngClass]="data.status ? 'bg-success' : 'bg-danger'">
                    {{ data.status ? 'Active' : 'Inactive' }}
                  </span>
                </td>

              </tr>

            </tbody>
          </table>
        </div>
        <div class="row justify-content-md-between align-items-md-center">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
              <!-- Showing
              {{service.startIndex}} to
              {{service.endIndex}} of {{service.totalRecords}}
              entries -->
            </div>
          </div>
          <!-- Pagination -->
          <div class="col-sm-12 col-md-5">
            <div class="text-md-right float-md-end gridjs-pagination">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="pageChange($event)">
              </ngb-pagination>
            </div>
          </div>
          <!-- End Pagination -->
        </div>
      </div><!-- end card-body -->
    </div><!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<!-- item popoup -->
<ng-template #itemModal let-modal>

  <div class="modal-header item-modal-header">
    <h5 class="modal-title">
      Item Details</h5>
    <button type="button" class="btn-close btn-close-white" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-3">
        <label class="form-label">Item Type</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.itemtype == 1 ? 'Vehicle' : 'Parts'"
          readonly>
      </div>

      <div class="col-md-3">
        <label class="form-label">Part No</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.itemname" readonly>
      </div>

      <div class="col-md-3">
        <label class="form-label">Part Code</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.itemcode" readonly>
      </div>

      <div class="col-md-3">
        <label class="form-label">Item Description</label>
        <textarea class="form-control form-control-sm" rows="2" readonly>{{selectedItem?.itemdesc}}</textarea>
      </div>
      <div class="col-md-3">
        <label class="form-label">Is OEM Part</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.iselectric ? 'Yes' : 'No'" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">OEM Part No.</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">OEM Part Description</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Group</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.grpidno == 1 ? 'FG' : 'Spares'" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">UOM</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Model Name</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">HSN Code</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.hsncode" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Item MRP</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">OEM MRP</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Sale Price</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Purchase Rate</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Min Order QTY</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">CGST</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.cgst" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">SGST</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.sgst" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">IGST</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.igst" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">UGST</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.ugst" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Re-Ord</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Price List Amount</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Part Labr</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">HRs/TAT</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-6">
        <label class="form-label">Remarks</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-6">
        <label class="form-label">Speed Type</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Parts Category</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Warranty Period</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Month/Year</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Warranty Kms.</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Vehicle Type</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.vehtype" readonly>
      </div>

      <div class="col-md-3">
        <label class="form-label">VOR Rate</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Customer Price</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.custprice" readonly>
      </div>

      <div class="col-md-3">
        <label class="form-label">Dealer Price</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.dlrprice" readonly>
      </div>
      <!-- Checkbox info -->
      <div class="row">
        <div class="col-md-3">
          <label class="form-check-label" for="formCheck6">Exmptd</label> |
          <input class="form-check-input" type="checkbox" id="formCheck6" checked [value]="" readonly>
        </div>
        <div class="col-md-3">
          <label class="form-check-label" for="formCheck6">ToolKit/First Aid.</label> |
          <input class="form-check-input" type="checkbox" id="formCheck6" checked [value]="" readonly>
        </div>
        <div class="col-md-3">
          <label class="form-check-label" for="formCheck6">Save as Helmet</label> |
          <input class="form-check-input" type="checkbox" id="formCheck6" checked [value]="" readonly>
        </div>
        <div class="col-md-3">
          <label class="form-check-label" for="formCheck6">Non-Inventory</label> |
          <input class="form-check-input" type="checkbox" id="formCheck6" checked [value]="" readonly>
        </div>

      </div>
      <div class="row mt-2">

        <div class="col-md-3">
          <label class="form-check-label" for="formCheck6">In-eligible Input</label> |
          <input class="form-check-input" type="checkbox" id="formCheck6" checked [value]="" readonly>
        </div>
        <div class="col-md-3">
          <label class="form-check-label" for="formCheck6">Item Wrnt.Approval</label> |
          <input class="form-check-input" type="checkbox" id="formCheck6" checked [value]="" readonly>
        </div>
        <div class="col-md-3">
          <label class="form-check-label" for="formCheck6">VOR Specific</label> |
          <input class="form-check-input" type="checkbox" id="formCheck6" checked [value]="" readonly>
        </div>
      </div>
      <!-- end checkbox -->

    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.close()">Cancel</button>
  </div>

</ng-template>


<!-- end item popup -->