.sort
    {
        padding-right: 35px; // extra space for icons
    }
    .td{
      font-size:12px;
    }
    
    #saleTable {
 .table .sort::before {
        top: 6px;
    }

    .table .sort::after {
        top: 0px;
    }
}
.position-relative {
  position: relative;
}

.dropdown-menu {
  max-height: 250px;
  overflow-y: auto;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.dropdown-item {
  cursor: pointer;
}