<div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
    <h4 class="mb-sm-0">OEM Model List</h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <!-- Form for search + filters -->
                <form class="row g-2 align-items-end" (ngSubmit)="searchModel()">

                    <!-- Model Name -->
                    <div class="col-md-4">
                        <label class="form-label">Model Name</label>
                        <input type="text" class="form-control" [(ngModel)]="modelName" name="modelName"
                            placeholder="Enter Model Name">
                    </div>

                    <!-- Per Page Records -->
                    <div class="col-md-3">
                        <label class="form-label">Per Page Records</label>
                        <select class="form-control form-select" [(ngModel)]="pageSize" name="pageSize"
                            (change)="refreshPage()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>

                    <!-- Buttons aligned at bottom right -->
                    <div class="col-md-2 ms-auto d-flex gap-2">
                        <button type="submit" class="btn btn-primary btn-sm">
                            Search
                        </button>

                        <button type="button" class="btn btn-success btn-sm" [ngbTooltip]="'Export to Excel'"[ngbTooltip]="'Export to Excel'" (click)="downloadOEMModelExcel()">
                            <i class="ri-file-excel-2-line"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-sm plus" (click)="openAddModal()">Add</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- CARD 2 : TABLE -->
        <div class="card mt-3">
            <div class="card-body">
                <p>Total Record(s): {{totalRecords}}</p>
                <div class="table-responsive">
                    <table class="table table-gridjs table-striped">
                        <thead>
                            <tr class="oem-table">
                                <th class="sort">S.No.</th>
                                <th class="sort" [ngClass]="getSortClass('modelName')" (click)="sort('modelName')">
                                    OEM Model Name
                                </th>
                                <th class="sort" [ngClass]="getSortClass('modelShortName')"
                                    (click)="sort('modelShortName')">
                                    OEM Model Short Name
                                </th>
                                <th class="sort" [ngClass]="getSortClass('id')" (click)="sort('id')">
                                    Id
                                </th>
                                <th>Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let model of pagedModelList; let i=index">
                                <td>{{(page-1)*pageSize + i + 1}}</td>
                                <td>{{model.modelName}}</td>
                                <td>{{model.modelShortName}}</td>
                                <td>{{model.id}}</td>
                                <td>

                                    <span class="badge" [ngClass]="model.isActive ? 'bg-success' : 'bg-danger'">
                                        {{ model.isActive ? 'Active' : 'Inactive' }}
                                    </span>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-soft-primary" (click)="openEditModal(model)">
                                        <i class="ri-edit-line"></i>
                                    </button>
                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

                <!-- Pagination -->
                <div class="row mt-3">

                    <div class="col-md-12">

                        <div class="float-end">

                            <ngb-pagination [collectionSize]="modelList.length" [(page)]="page" [pageSize]="pageSize"
                                (pageChange)="refreshPage()" [boundaryLinks]="true">

                            </ngb-pagination>

                        </div>

                    </div>

                </div>

            </div>
        </div>


        <!-- EDIT MODAL -->
        <div class="modal fade" id="editModelModal" tabindex="-1">

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header" style="background:#747CA0">
                        <h5 class="modal-title text-white">OEM Model Master</h5>
                        <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">

                        <div class="row">

                            <div class="col-md-4">
                                <label>Model Name</label>
                                <input class="form-control" [(ngModel)]="selectedModel.modelName" name="editModelName"
                                    required #editModelName="ngModel">

                                <div *ngIf="editModelName.invalid && (editModelName.touched || formSubmitted)"
                                    class="text-danger mt-1">
                                    Model Name is required
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label>Model Short Name</label>
                                <input class="form-control" [(ngModel)]="selectedModel.modelShortName"
                                    name="editModelShortName" required #editModelShortName="ngModel">

                                <div *ngIf="editModelShortName.invalid && (editModelShortName.touched || formSubmitted)"
                                    class="text-danger mt-1">
                                    Model Short Name is required
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label>Id</label>
                                <input class="form-control" [(ngModel)]="selectedModel.id" name="editId" readonly>
                            </div>

                        </div>

                        <div class="col-md-4 mt-3">

                            <div class="form-check form-switch form-switch-lg form-switch-success">

                                <label class="form-label">Active</label>

                                <input class="form-check-input" type="checkbox" role="switch"
                                    [(ngModel)]="selectedModel.isActive" name="editIsActive">

                            </div>

                        </div>

                        <div class="modal-footer">

                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                Cancel
                            </button>

                            <button class="btn btn-success"
                                (click)="formSubmitted=true; editModelName.valid && editModelShortName.valid && updateModel()">
                                Update
                            </button>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- ADD MODAL -->
        <!-- <div class="modal fade" id="addModelModal" tabindex="-1">

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header" style="background-color:#747CA0">

                        <h5 class="modal-title text-white">
                            Add OEM Model
                        </h5>

                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>

                    </div>

                    <div class="modal-body">

                        <div class="row">

                            <div class="col-md-6">

                                <label class="form-label">Model Name</label>

                                <input type="text" class="form-control" [(ngModel)]="modelName"
                                    placeholder="Enter Model Name" (keyup.enter)="searchModel()">

                            </div>

                            <div class="col-md-6">

                                <label class="form-label">Model Short Name</label>

                                <input type="text" class="form-control" [(ngModel)]="selectedModel.modelShortName">

                            </div>

                            <div class="col-md-4 mt-3">

                                <div class="form-check form-switch form-switch-lg form-switch-success">

                                    <label class="form-label">Active</label>

                                    <input class="form-check-input" type="checkbox"
                                        [(ngModel)]="selectedModel.isActive">

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="modal-footer">

                        <button class="btn btn-danger" data-bs-dismiss="modal">
                            Cancel
                        </button>

                        <button class="btn btn-success" (click)="addModel()">
                            Save
                        </button>

                    </div>

                </div>

            </div>

        </div> -->

        <div class="modal fade" id="addModelModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header" style="background-color:#747CA0">
                        <h5 class="modal-title text-white">Add OEM Model</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="row">

                            <!-- Model Name -->
                            <div class="col-md-6">
                                <label class="form-label">Model Name</label>
                                <input type="text" class="form-control" [(ngModel)]="selectedModel.modelName"
                                    name="modelName" placeholder="Enter Model Name" required #modelNameInput="ngModel">

                                <div *ngIf="modelNameInput.invalid && (modelNameInput.touched || formSubmitted)"
                                    class="text-danger mt-1">
                                    Model Name is required.
                                </div>
                            </div>

                            <!-- Model Short Name -->
                            <div class="col-md-6">
                                <label class="form-label">Model Short Name</label>
                                <input type="text" class="form-control" [(ngModel)]="selectedModel.modelShortName"
                                    name="modelShortName" required #modelShortNameInput="ngModel">

                                <div *ngIf="modelShortNameInput.invalid && (modelShortNameInput.touched || formSubmitted)"
                                    class="text-danger mt-1">
                                    Model Short Name is required.
                                </div>
                            </div>

                            <!-- Active Switch -->
                            <div class="col-md-4 mt-3">
                                <div class="form-check form-switch form-switch-lg form-switch-success">
                                    <label class="form-label">Active</label>
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="selectedModel.isActive"
                                        name="isActive">
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>

                        <button class="btn btn-success"
                            (click)="formSubmitted=true; modelNameInput.valid && modelShortNameInput.valid && addModel()">
                            Save
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>