.sort
    {
        padding-right: 35px; // extra space for icons
    }
    .td{
      font-size:12px;
    }
    #oemTable {
 .table .sort::before {
        top: 6px;
    }

    .table .sort::after {
        top: 0px;
    }
}