<div class="card p-4 shadow mt-5">
    <h4>Database Seeding</h4>

    <button class="btn btn-primary mt-3 col-md-2" (click)="seedRoles()" [disabled]="loading">

        <span *ngIf="!loading">Seed Roles</span>

        <span *ngIf="loading">
            <span class="spinner-border spinner-border-sm me-2"></span>
            Seeding...
        </span>

    </button>

    <button class="btn btn-primary mt-3 col-md-2" (click)="assignRole()" [disabled]="loading">

        <span *ngIf="!loading">Assign Roles</span>

        <span *ngIf="loading">
            <span class="spinner-border spinner-border-sm me-2"></span>
            Seeding...
        </span>

    </button>

    <button class="btn btn-primary mt-3 col-md-2" (click)="createuser()" [disabled]="loading">

        <span *ngIf="!loading">Create User</span>

        <span *ngIf="loading">
            <span class="spinner-border spinner-border-sm me-2"></span>
            Seeding...
        </span>

    </button>

    <div class="mt-3 text-success" *ngIf="message">
        {{message}}
    </div>
</div>