<div>

    <!-- SEARCH CARD -->
    <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
        <h4 class="mb-sm-0">Form 22 specification</h4>
    </div>
    <ng-template #AddFrom22itemModal let-modal>
        <div class="card">
            <div class="modal-header item-modal-header">
                <h5 class="modal-title">
                    Add Form22 Master Details</h5>
                <button type="button" class="btn-close btn-close-white" (click)="modal.dismiss()"></button>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-3 dropdown-wrapper">
                        <label class="form-label">OEM Model Name</label>
                        <select class="form-select form-select-sm" [(ngModel)]="formData.oemmodelId">
                            <option value="">-- Select Oemmodel name --</option>
                            <option *ngFor="let o of oemModelList" [ngValue]="o.oemmodelId">
                                {{o.oemModelName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Sound Level Horn</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="formData.soundLevelHorn" />
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Pass by noise level</label>
                        <input type="text" class="form-control form-control-sm"
                            [(ngModel)]="formData.passbyNoiseLevel" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Type of Certificate No</label>
                        <input type="text" class="form-control form-control-sm"
                            [(ngModel)]="formData.approvalCertificateNo" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-check form-switch form-switch-lg form-switch-success">
                        <label class="form-label" for="SwitchCheck3">IsActive</label>

                        <input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck3" name="IsActive"
                            [(ngModel)]="formData.isActive">
                    </div>
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button class="btn btn-success" (click)="addForm22Master()">
                        Add
                    </button>
                </div>
                <div *ngIf="showAlert"
                    class="alert alert-secondary alert-dismissible alert-label-icon rounded-label shadow fade show"
                    role="alert">

                    <i class="ri-check-double-line label-icon"></i>

                    <strong>Success</strong> - Data saved successfully

                    <button type="button" class="btn-close" (click)="showAlert=false">
                    </button>

                </div>
            </div>
        </div>
    </ng-template>
</div>
<!-- view details -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-end align-items-center">
                    <!-- Add Form22master Button -->
                    <button class="btn btn-success btn-sm me-3" (click)="openAddDetails(AddFrom22itemModal,formData)">
                        <i class="ri-add-line"></i>
                    </button>
                    <!-- Download Excel Button -->
                    <button class="btn btn-success btn-sm me-3" (click)="downloadForm22MasterExcel()">
                        <i class="ri-file-excel-2-line"></i>
                    </button>
 
                    <!-- Search Box -->
                    <div class="search-box">
                        <input type="text" class="form-control search" placeholder="Search..."/>
                        <i class="ri-search-line search-icon"></i>
                    </div>
 
                </div>
 
            </div>
            <!-- end card header -->

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-gridjs">
                        <thead class="table-bgColor">
                            <tr>
                                <th class="sort" (click)="sort('id')" data-sort="id">Sr No.</th>
                                <th class="sort" (click)="sort('oemModelName')" data-sort="oemModelName">OEM Model
                                    Name</th>
                                <th class="sort" (click)="sort('soundLevelHorn')" data-sort="soundLevelHorn">Sound
                                    Level Horn</th>
                                <th class="sort" (click)="sort('passbyNoiseLevel')" data-sort="passbyNoiseLevel">
                                    Pass by noise level</th>
                                <th class="sort" (click)="sort('approvalCertificateNo')"
                                    data-sort="approvalCertificateNo">Type of Certificate No.</th>
                                <th class="sort" (click)="sort('isActive')" data-sort="itemdesc">Active</th>
                                <th class="sort">Action</th>
                            </tr>
                        </thead>
                        <tbody>


                            @for (data of pagedData; track $index) {

                            <tr (click)="openDetails(From22itemModal,data)" style="cursor:pointer">
                                <td>
                                    <ngb-highlight [result]="data.id" [term]="searchTerm"></ngb-highlight>
                                </td>

                                <td>
                                    <ngb-highlight [result]="data.oemModelName" [term]="searchTerm"></ngb-highlight>
                                </td>

                                <td>
                                    <ngb-highlight [result]="data.soundLevelHorn" [term]="searchTerm"></ngb-highlight>
                                </td>

                                <td>
                                    <ngb-highlight [result]="data.passbyNoiseLevel" [term]="searchTerm"></ngb-highlight>
                                </td>
                                <td>
                                    <ngb-highlight [result]="data.approvalCertificateNo"
                                        [term]="searchTerm"></ngb-highlight>
                                </td>
                                <td>
                                    <span class="badge" [ngClass]="data.isActive ? 'bg-success' : 'bg-danger'">

                                        {{ data.isActive == true ? 'Yes' : 'No' }}

                                    </span>
                                    <!-- <ngb-highlight [result]="data.isActive" [term]="searchTerm"></ngb-highlight> -->
                                </td>



                                <td>
                                    <button class="btn btn-sm btn-light"
                                        (click)="openDetails(From22itemModal,data); $event.stopPropagation()">Action</button>
                                </td>

                            </tr>

                            }

                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            <!-- Showing
              {{service.startIndex}} to
              {{service.endIndex}} of {{service.totalRecords}}
              entries -->
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="col-sm-12 col-md-5">
                        <div class="text-md-right float-md-end gridjs-pagination">
                            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                                (pageChange)="pageChange($event)">
                            </ngb-pagination>
                        </div>
                    </div>
                    <!-- End Pagination -->
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<ng-template #From22itemModal let-modal>

    <div class="modal-header item-modal-header">
        <h5 class="modal-title">
            Form22 Master Details</h5>
        <button type="button" class="btn-close btn-close-white" (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body">
        <div class="row">

            <div class="col-md-3">
                <label class="form-label">OEM Model Name</label>
                <select class="form-select form-select-sm" [(ngModel)]="selectedForm22Item.oemmodelId">
                    <option value="">-- Select Oemmodel name --</option>
                    <option *ngFor="let o of oemModelList" [ngValue]="o.oemmodelId">
                        {{o.oemModelName}}
                    </option>
                </select>
                <!-- <label class="form-label">OEM Model Name</label>
                <input class="form-control form-control-sm" [value]="selectedForm22Item?.oemModelName"> -->
            </div>

            <div class="col-md-3">
                <label class="form-label">Sound Level Horn</label>
                <input class="form-control form-control-sm" [value]="selectedForm22Item?.soundLevelHorn">
            </div>

            <div class="col-md-3">
                <label class="form-label">Pass by noise level</label>
                <input class="form-control form-control-sm" [value]="selectedForm22Item?.passbyNoiseLevel">
            </div>
            <div class="col-md-3">
                <label class="form-label">Type of Certificate No.</label>
                <input class="form-control form-control-sm" [value]="selectedForm22Item?.approvalCertificateNo">
            </div>

            <div class="col-md-3">
                <input class="form-check-input" type="checkbox" [(ngModel)]="selectedForm22Item.isActive">

                <label class="form-check-label ms-2">

                    {{ selectedForm22Item.isActive == true ? 'Active' : 'Inactive' }}

                </label>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" (click)="updateForm22Master()">Save</button>
        <button class="btn btn-light" (click)="modal.close()">Cancel</button>
    </div>

</ng-template>