#form22master {

    .table .sort::before {
        top: 6px;
    }

    .table .sort::after {
        top: 0px;
    }
}

.table-bgColor  > tr>th{
    background-color: #747CA0;
    color: #ffff;
}
.table-gridjs th.sort {
  padding-right: 30px;
}
.item-modal-header .modal-title {
  color: white;
  font-size: 15px;
  font-weight: 600;
}
 
/* Fixed header */
.modal-header {
   background-color: #747CA0;
  position: sticky;
  top: 0;
  z-index: 1055;
}

.btn-close-white {
color: white;
}

.btn-add{
  background-color: #747CA0;
  color: white;
 }

 .div-btn-add{
  margin-right: 7.5%;
  margin-bottom: 1%;
  padding-left: 0%;
 }

 .form-switch-success .form-check-input:checked{
  padding-left: 40px;
    margin-left: 1px;
    margin-right: 4px;
 }
/* Fixed footer */
.modal-footer {
  position: sticky;
  bottom: 0;
  background: #fff;
  z-index: 1055;
}
 
/* Scrollable body */
.modal-body {
  max-height: 85vh;
  overflow-y: auto;
}
 
.my-4{
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.form-switch-lg{
    padding-left: 3.75rem;
}