.table-bgColor  > tr>th{
    background-color: #747CA0;
    color: #ffff;
}
table th {
  white-space: nowrap;
}
.modal-header{
  background-color: #747CA0;  
}
.modal-title{
  color: #ffff;
}
.btn-close-white {
color: white;
}

