<!-- src\app\components\material-transfer\material-transfer-detail\material-transfer-detail.html -->
<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Material Transfer"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div id="material-trasfer-detail">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <fieldset class="border p-1 rounded mb-2">
                        <form #materialTransferForm="ngForm">
                            <!-- Top Row -->
                            <div class="row mb-2 g-1">
                                <div class="col-md-2">
                                    <label class="form-label">Prefix No</label>
                                    <input type="text" class="form-control form-control-sm bg-light" name="prefix"
                                        #prefix="ngModel" [(ngModel)]="formData.prefix" required readonly>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Issue Number</label>
                                    <input type="text" class="form-control form-control-sm bg-light" name="issueNumber"
                                        #issueNumber="ngModel" [(ngModel)]="formData.issueNumber" readonly>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Job No (ODO {{ formData.OdoMeter }}) </label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm bg-light" name="jobNo"
                                            #jobNo="ngModel" [(ngModel)]="formData.jobNo" required readonly>
                                        <button type="button" class="btn btn-outline-secondary bg-primary text-white"
                                            [ngbTooltip]="'Job Search'" (click)="openJobSearch()">
                                            <i class="ri-file-line"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Date</label>
                                    <input type="date" class="form-control form-control-sm bg-light" name="date"
                                        [(ngModel)]="formData.date" #date="ngModel" readonly />
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Technician</label>
                                    <select class="form-select form-select-sm" name="technician"
                                        [(ngModel)]="formData.technician" [disabled]="true">
                                        <option value="Manoj">Manoj</option>
                                        <option value="Suraj">Suraj</option>
                                        <option value="Vishal">Vishal</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Location</label>
                                    <select class="form-select form-select-sm" name="location"
                                        [(ngModel)]="formData.location" [disabled]="true">
                                        <option *ngFor="let loc of lstLocation" [value]="loc.loccode">{{ loc.locname }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </fieldset>

                    <fieldset class="border p-1 rounded" [disabled]="jobCardStatus">
                        <legend class="float-none w-auto px-2 fs-6">Material Details</legend>
                        <form #itemForm="ngForm" (ngSubmit)="onAddItem()">
                            <div class="row g-1">
                                <div class="col-md-4">
                                    <label class="form-label">Part Name
                                        <span class="fs-10">(Stock @ Location {{newItem.batchClosingQty}})(GST
                                            {{totalGST}}%)</span>
                                    </label>

                                    <ng-select class="ng-select-sm" [items]="itemList" bindValue="id"
                                        [disabled]="formData.jobNo <= 0" [(ngModel)]="newItem.itemId"
                                        [searchFn]="customSearchFn" [clearable]="false" (change)="onChangeItem($event)"
                                        placeholder="Search Part No or Description" name="itemName_select"
                                        #itemName_select="ngModel" required>

                                        <ng-template ng-label-tmp let-item="item">
                                            <span [title]="item.itemcode + ' - ' + item.itemdesc">
                                                {{ item.itemcode }} - {{ item.itemdesc }}
                                            </span>
                                        </ng-template>

                                        <ng-template ng-option-tmp let-item="item">
                                            <span [title]="item.itemcode + ' - ' + item.itemdesc">
                                                {{ item.itemcode }} - {{ item.itemdesc }}
                                            </span>
                                            <br>
                                            <small>
                                                {{ item.itemcode }} | Stock : {{ item.batchClosingQty }}
                                            </small>
                                        </ng-template>

                                    </ng-select>

                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Rack No.</label>
                                    <input type="text" class="form-control form-control-sm" name="rackNumber"
                                        #rackNumber="ngModel" [(ngModel)]="newItem.rackNo" [disabled]="true">
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label">Bin No.</label>
                                    <input type="text" class="form-control form-control-sm" name="binNo"
                                        #binNo="ngModel" [(ngModel)]="newItem.binNo" [disabled]="true">
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label">Quantity</label>
                                    <input type="text" class="form-control form-control-sm" name="quantity"
                                        #quantity="ngModel" [(ngModel)]="newItem.quantity" maxlength="4"
                                        (input)="onQuantityInput($event)" (blur)="onBlurQuantity(quantity.value)"
                                        required />
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label">Item Rate</label>
                                    <input type="number" class="form-control form-control-sm" name="itemRate"
                                        #itemRate="ngModel" [(ngModel)]="newItem.itemRate" [disabled]="true">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Serial No</label>
                                    <input type="text" class="form-control form-control-sm" name="serialNo"
                                        #serialNo="ngModel" [(ngModel)]="newItem.serialNo" [disabled]="true">
                                </div>
                            </div>

                            <div class="row g-1 mt-1">
                                <div class="col-md-2">
                                    <label class="form-label">Remarks</label>
                                    <input type="text" class="form-control form-control-sm" name="remarks"
                                        #remarks="ngModel" [(ngModel)]="newItem.remarks">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Technician</label>
                                    <select class="form-select form-select-sm" name="technician" #technician="ngModel"
                                        [(ngModel)]="newItem.technician">
                                        <option *ngFor="let tech of lstTechnician" [ngValue]="tech.id">{{ tech.name }}</option>
                                        <!-- <option *ngFor="let tech of lstTechnician" [value]="tech.id">{{ tech.name }}</option> -->
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Issue Type</label>
                                    <select class="form-select form-select-sm" name="issueType" #issueType="ngModel"
                                        [(ngModel)]="newItem.issueType">
                                        <option value=""> -- Select -- </option>
                                        <option *ngFor="let issue of issueTypes" [ngValue]="issue.id">{{ issue.name }}</option>
                                        <!-- <option *ngFor="let issue of issueTypes" [value]="issue.id">{{ issue.name }}</option> -->
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">&nbsp;</label><br>
                                    <button type="submit" class="btn btn-primary btn-sm me-2"
                                        [disabled]="this.formData.jobNo <= 0 || (!isEdit && !canCreate) || (isEdit && !canEdit)">
                                        Add
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm"
                                        [disabled]="this.formData.jobNo <= 0" (click)="resetNewItem()">
                                        Reset
                                    </button>
                                </div>

                            </div>
                        </form>
                    </fieldset>

                    <fieldset [disabled]="jobCardStatus">
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm mt-3 text-nowrap">
                                <thead class="table-light">
                                    <tr>
                                        <th>Action</th>
                                        <th>S. No.</th>
                                        <th>Part Code</th>
                                        <th>Part Description</th>
                                        <th>Qty</th>
                                        <th>Rate</th>
                                        <th>HSN Code</th>
                                        <th>Issue Type</th>
                                        <th>Inward Sr No.</th>
                                        <th>Issue Sr No.</th>
                                        <th>Technician</th>
                                        <th>CGST Amt.</th>
                                        <th>SGST Amt.</th>
                                        <th>IGST Amt. </th>
                                        <th>Amount</th>
                                        <th>MRP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of items; let i = index" [hidden]="item.status === 'Deleted'">
                                        <td class="action-cell text-nowrap">
                                            <button class="btn btn-sm btn-soft-info py-0 px-1 me-1"
                                                (click)="editItem(item)">
                                                <i class="ri-pencil-line"></i>
                                            </button>
                                            <button class="btn btn-sm btn-soft-danger py-0 px-1"
                                                (click)="deleteItem(item)">
                                                <i class="ri-delete-bin-line"></i>
                                            </button>
                                        </td>
                                        <td class="text-nowrap">
                                            {{ getRowNumber(i) }}
                                        </td>
                                        <td class="text-nowrap">{{ item.itemcode }}</td>
                                        <td class="text-nowrap">{{ item.itemdesc }}</td>
                                        <td class="text-nowrap">{{ item.quantity }}</td>
                                        <td class="text-nowrap">{{ item.itemRate }}</td>
                                        <td class="text-nowrap">{{ item.hsncode }}</td>
                                        <td class="text-nowrap">{{ item.issueType | getIssueTypeName: issueTypes }}</td>
                                        <td>{{ item.inwardsrno }}</td>
                                        <td class="text-nowrap">{{ item.issuesrno }}</td>
                                        <td class="text-nowrap">{{ item.technician | getTechnicianName: lstTechnician }}
                                        </td>
                                        <td>{{ item.cgstAmount }}</td>
                                        <td>{{ item.sgstAmount }}</td>
                                        <td>{{ item.igstAmount }}</td>
                                        <td class="text-nowrap">{{ item.amount }}</td>
                                        <td class="text-nowrap">{{ item.mrp | number:'1.2-2' }}</td>
                                    </tr>

                                </tbody>
                                <tfoot class="table-light">
                                    <tr>
                                        <td colspan="4" class="text-end"><strong>Total</strong></td>
                                        <td>{{ getTotalQty() }}</td>
                                        <td colspan="9"></td>
                                        <td>{{ getTotalAmount() }}</td>
                                        <td></td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                    </fieldset>

                    <!-- Button -->
                    <div class=" row mt-3">
                        <div class="col-md-12">

                            <button type="button" class="btn btn-danger btn-sm float-end" (click)="backToList()">
                                Cancel
                            </button>
                            <button type="submit" [disabled]="materialTransferForm.invalid || jobCardStatus || (!isEdit && !canCreate) || (isEdit && !canEdit)"
                                class="btn btn-primary btn-sm float-end me-1" (click)="onSubmit(materialTransferForm)">
                                Save
                            </button>

                        </div>
                    </div>

                </div>
            </div>
        </div><!-- end card -->
    </div>
</div>