<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Material Transfer"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div id="material-trasfer-detail">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <fieldset class="border p-1 rounded mb-2">
                        <form #customerLedgerForm="ngForm">
                            <!-- Top Row -->
                            <div class="row mb-2 g-1">
                                <div class="col-md-2">
                                    <label class="form-label">Prefix No</label>
                                    <input type="text" class="form-control form-control-sm" name="prefix"
                                        #prefix="ngModel" [(ngModel)]="formData.prefix" required [disabled]="true">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Issue Number</label>
                                    <input type="text" class="form-control form-control-sm" name="issueNumber"
                                        #issueNumber="ngModel" [(ngModel)]="formData.issueNumber" [disabled]="true">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Job No (ODO {{ formData.OdoMeter }}) </label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm" name="jobNo"
                                            #jobNo="ngModel" [(ngModel)]="formData.jobNo" required readonly>
                                        <button type="button" class="btn btn-outline-secondary bg-primary text-white"
                                            (click)="openJobSearch()">
                                            <i class="ri-file-line"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Date</label>
                                    <input type="date" class="form-control form-control-sm" name="date"
                                        [(ngModel)]="formData.date" #date="ngModel" [disabled]="true" />
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Technician</label>
                                    <select class="form-select form-select-sm" name="technician"
                                        [(ngModel)]="formData.technician" [disabled]="true">
                                        <option *ngFor="let tech of lstTechnician" [value]="tech.id"> {{ tech.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Location</label>
                                    <select class="form-select form-select-sm" name="location"
                                        [(ngModel)]="formData.location" [disabled]="true">
                                        <option *ngFor="let loc of lstLocation" [value]="loc.loccode">{{ loc.locname }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </fieldset>

                    <fieldset class="border p-1 rounded">
                        <legend class="float-none w-auto px-2 fs-6">Material Details</legend>
                        <form #itemForm="ngForm" (ngSubmit)="onAddItem()">
                            <div class="row g-1">
                                <div class="col-md-4">
                                    <label class="form-label">Item Name
                                        <span class="fs-10">(Stock @ Location {{newItem.batchClosingQty}})(GST%
                                            0.0)</span>
                                    </label>
                                    <div class="input-group input-group-sm">
                                        <select class="form-select form-select-sm" name="itemName"
                                            [(ngModel)]="newItem.itemId" (ngModelChange)="onChangeItem($event)">
                                            <option *ngFor="let item of itemList;" [value]="item.id">{{
                                                item.itemdesc }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Rack No.</label>
                                    <input type="text" class="form-control form-control-sm" name="rackNumber"
                                        #rackNumber="ngModel" [(ngModel)]="newItem.rackNo" [disabled]="true">
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label">Bin No.</label>
                                    <input type="text" class="form-control form-control-sm" name="binNo"
                                        #binNo="ngModel" [(ngModel)]="newItem.binNo" required>
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label">Quantity</label>
                                    <input type="number" class="form-control form-control-sm" name="quantity"
                                        #quantity="ngModel" [(ngModel)]="newItem.quantity"
                                        (blur)="onBlurQuantity(quantity.value)" required />
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Item Rate</label>
                                    <input type="number" class="form-control form-control-sm" name="itemRate"
                                        #itemRate="ngModel" [(ngModel)]="newItem.itemRate" [disabled]="true">
                                </div>
                                <!-- <div class="col-md-2">
                                    <label class="form-label">Retrun Qty</label>
                                    <input type="number" class="form-control form-control-sm" name="returnQty"
                                        #returnQty="ngModel" [(ngModel)]="newItem.returnQty" [disabled]="true" />
                                </div> -->
                            </div>

                            <div class="row g-1 mt-1">
                                <div class="col-md-2">
                                    <label class="form-label">Serial No</label>
                                    <input type="text" class="form-control form-control-sm" name="serialNo"
                                        #serialNo="ngModel" [(ngModel)]="newItem.serialNo" readonly>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label">Remarks</label>
                                    <input type="text" class="form-control form-control-sm" name="remarks"
                                        #remarks="ngModel" [(ngModel)]="newItem.remarks">
                                </div>
                                <!-- <div class="col-md-1">
                                    <label class="form-label">Item Rec.</label>
                                    <input type="text" class="form-control form-control-sm" name="itemReceived"
                                        #itemReceived="ngModel" [(ngModel)]="newItem.received" readonly>
                                </div> -->
                                <div class="col-md-3">
                                    <label class="form-label">Technician</label>
                                    <select class="form-select form-select-sm" name="technician" #technician="ngModel"
                                        [(ngModel)]="newItem.technician">
                                        <option *ngFor="let tech of lstTechnician" [value]="tech.id">{{ tech.name }}
                                        </option>
                                    </select>
                                </div>
                                <!-- <div class="col-md-1">
                                    <label class="form-label">Valid Days</label>
                                    <input type="text" class="form-control form-control-sm" name="validDays"
                                        #validDays="ngModel" [(ngModel)]="newItem.validdays" readonly>
                                </div> -->
                                <div class="col-md-1">
                                    <label class="form-label">Issue Type</label>
                                    <select class="form-select form-select-sm" name="issueType" #issueType="ngModel"
                                        [(ngModel)]="newItem.issueType">
                                        <option *ngFor="let issue of issueTypes" [value]="issue.id">
                                            {{ issue.name }}
                                        </option>
                                    </select>
                                </div>
                                <!-- <div class="col-md-1">
                                    <label class="form-label">CIR/TAR</label>
                                    <input type="text" class="form-control form-control-sm" name="cirTar"
                                        #cirTar="ngModel" [(ngModel)]="newItem.cir" readonly>
                                </div> -->
                                <div class="col-md-1">
                                    <label class="form-label">&nbsp;</label><br />
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="openLabourRateDialog()">
                                        Labour
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label">&nbsp;</label><br>
                                    <button type="submit" class="btn btn-primary btn-sm"
                                        [disabled]="this.formData.jobNo <= 0">
                                        Add
                                    </button>
                                </div>

                            </div>
                        </form>
                    </fieldset>

                    <div class="table-responsive">
                        <table class="table table-bordered table-sm mt-3">
                            <thead class="table-light">
                                <tr>
                                    <th class="text-nowrap">Action</th>
                                    <th class="text-nowrap">S. No.</th>
                                    <th class="text-nowrap">Item</th>
                                    <th class="text-nowrap">Description</th>
                                    <th class="text-nowrap">Qty</th>
                                    <th class="text-nowrap">Rate</th>
                                    <th class="text-nowrap">Stock</th>
                                    <th class="text-nowrap">Issue Type</th>
                                    <th class="text-nowrap">Issue Sub Type</th>
                                    <th class="text-nowrap">Inward Sr No.</th>
                                    <th class="text-nowrap">Issue Sr No.</th>
                                    <th class="text-nowrap">Technician</th>
                                    <th class="text-nowrap">Amount</th>
                                    <th class="text-nowrap">MRP</th>
                                    <th class="text-nowrap">WAV Rate</th>
                                    <!-- <th class="text-nowrap">Valid Days</th> -->
                                    <!-- <th class="text-nowrap">Valid Kms</th> -->
                                    <th class="text-nowrap">Remarks</th>
                                    <th class="text-nowrap">First Fill</th>
                                    <th class="text-nowrap">First Fill Stock</th>
                                    <!-- <th class="text-nowrap">Item Rec. Rate</th> -->
                                    <!-- <th class="text-nowrap">CIR</th> -->
                                    <!-- <th class="text-nowrap">Item Wrnt Approval</th> -->
                                    <!-- <th class="text-nowrap">Item Wrnt Approval Status</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Sample Data Row -->
                                <tr *ngFor="let item of items; let i = index" [hidden]="item.status === 'Deleted'">
                                    <td class="action-cell text-nowrap">
                                        <button class="btn btn-sm btn-soft-info py-0 px-1 me-1"
                                            (click)="editItem(item)">
                                            <i class="ri-pencil-line"></i>
                                        </button>
                                        <button class="btn btn-sm btn-soft-danger py-0 px-1" (click)="deleteItem(item)">
                                            <i class="ri-delete-bin-line"></i>
                                        </button>
                                    </td>
                                    <td class="text-nowrap">{{ i + 1 }}</td>
                                    <td class="text-nowrap">{{ item.itemname }}</td>
                                    <td class="text-nowrap">{{ item.itemdesc }}</td>
                                    <td class="text-nowrap">{{ item.quantity }}</td>
                                    <td class="text-nowrap">{{ item.itemRate }}</td>
                                    <td class="text-nowrap">{{ item.stock }}</td>
                                    <td class="text-nowrap">{{ item.issueType | getIssueTypeName: issueTypes }}</td>
                                    <td class="text-nowrap">{{ item.issueSubType }}</td>
                                    <td class="text-nowrap">{{ item.inwardsrno }}</td>
                                    <td class="text-nowrap">{{ item.issuesrno }}</td>
                                    <td class="text-nowrap">{{ item.technician | getTechnicianName: lstTechnician }}
                                    </td>
                                    <td class="text-nowrap">{{ item.amount }}</td>
                                    <td class="text-nowrap">{{ item.mrp | number:'1.2-2' }}</td>
                                    <td class="text-nowrap">{{ item.wav }}</td>
                                    <!-- <td>{{ item.validdays }}</td> -->
                                    <!-- <td>{{ item.validkms }}</td> -->
                                    <td class="text-nowrap" [title]="item.remarks">
                                        {{ item.remarks?.length > 30
                                        ? (item.remarks | slice:0:30) + '...'
                                        : item.remarks }}
                                    </td>
                                    <td class="text-nowrap">{{ item.firstfill }}</td>
                                    <td class="text-nowrap">{{ item.firstfillstock }}</td>
                                    <!-- <td>{{ item.received }}</td> -->
                                    <!-- <td>{{ item.receivedrate }}</td> -->
                                    <!-- <td>{{ item.cir }}</td> -->
                                    <!-- <td>{{ item.warrantyapproval }}</td> -->
                                    <!-- <td>{{ item.warrantyapprovalstatus }}</td> -->
                                </tr>

                            </tbody>
                            <tfoot class="table-light">
                                <tr>
                                    <td colspan="4" class="text-end"><strong>Total</strong></td>
                                    <td>{{ getTotalQty() }}</td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="4"></td>
                                    <td></td>
                                    <td>{{ getTotalAmount() }}</td>
                                    <td colspan="12"></td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>

                    <div class="accordion mt-3" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button bg-primary text-white py-2" data-bs-toggle="collapse"
                                    data-bs-target="#previouseMaterials" aria-expanded="false"
                                    aria-controls="previouseMaterials">
                                    Previously Issued Materials
                                </button>
                            </h2>

                            <div id="previouseMaterials" class="accordion-collapse collapse show">
                                <div class="accordion-body py-2"> </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="mt-2 col-md-12">
                            <label class="form-label">Remarks</label>
                            <textarea class="form-control form-control-sm" rows="3" name="remarks"></textarea>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class=" row mt-3">
                        <div class="col-md-12">

                            <button type="button" class="btn btn-danger btn-sm float-end" (click)="backToList()">
                                Cancel
                            </button>
                            <button type="submit" [disabled]="customerLedgerForm.invalid"
                                class="btn btn-primary btn-sm float-end me-1" (click)="onSubmit(customerLedgerForm)">
                                Save
                            </button>

                        </div>
                    </div>

                </div>
            </div>
        </div><!-- end card -->
    </div>
</div>