#material-trasfer-detail{
    .accordion-button.bg-primary::after {
        filter: brightness(0) invert(1); 
    }

    #material-trasfer-detail .accordion-button.bg-primary::after {
        filter: brightness(0) invert(1);
    }

    #material-trasfer-detail .accordion-button::after {
        transition: transform 0.3s ease; /* smooth rotation */
        transform: scale(1.3);
    }

    #material-trasfer-detail .accordion-button:not(.collapsed)::after {
        transform: scale(1.3) rotate(180deg);
    }

    .action-cell {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}

:host ::ng-deep .ng-select.ng-select-sm .ng-select-container {
    min-height: 27px !important;
    height: 27px !important;
}