.a4-page {
    width: 210mm;      /* A4 Width */
    min-height: 297mm; /* A4 Height */
    margin: 20px auto; /* Centers the page */
    box-sizing: border-box;
}

@media print {
  button {
    display: none !important;
  }

  body, html {
    margin: 0 !important;
    padding: 0 !important;
  }

  .a4-page {
    box-shadow: none;
  }

  .container {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  .bg-white {
    background-color: white !important;
  }

  .row {
    display: flex !important;
    flex-wrap: nowrap !important;
  }
  .col-md-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important;
  }
}

#reportContent{

  .vehicleInfo{
    display:inline-block;
     width: 120px;
  }

}

.custom-table td {
  border: none !important;
  padding: 3px 6px;
  vertical-align: top;
}

.custom-table .label {
  font-weight: 600;
  white-space: nowrap;
}

table th {
  font-size: 10px !important;   /* make header text small */
  padding: 2px 4px !important;  /* reduce spacing */
  white-space: nowrap;          /* prevent line break */
  vertical-align: middle;
}

table td {
  padding: 2px 4px !important;  /* compact rows */
}

.table {
  margin-bottom: 4px !important;
}