<div *ngIf="!isExternalCall"
    class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
    <h4 class="mb-sm-0">Customer Ledger</h4>
</div>

<div *ngIf="isExternalCall" class="card mb-2">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
        <h5 class="mb-0 text-white">
            {{ isModify ? 'Edit Customer Ledger' : 'Add Customer Ledger' }}
        </h5>

        <button *ngIf="activeModal" type="button" class="btn btn-sm btn-light" (click)="backToList()">
            ✕
        </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <form #customerLedgerForm="ngForm" (ngSubmit)="onSubmit(customerLedgerForm)">
                    <!-- Top Row -->
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <label class="form-label">Ledger Type</label>
                            <select class="form-select form-select-sm" name="ledgerType"
                                [(ngModel)]="formData.ledgerType" [disabled]="isExternalCall" required>
                                <option *ngFor="let lt of ledgerTypes" [value]="lt.value">
                                    {{ lt.name }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Ledger Code <span class="text-danger"
                                    *ngIf="!isLedgerCodeOptional()">*</span></label>
                            <input type="text" class="form-control form-control-sm" name="ledgerCode"
                                #ledgerCode="ngModel" [(ngModel)]="formData.ledgerCode"
                                [required]="!isLedgerCodeOptional()" readonly>
                            @if (ledgerCode.invalid && ledgerCode.touched && !isLedgerCodeOptional()) {
                            <small class="text-danger">
                                Ledger Code is required
                            </small>
                            }
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Ledger Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control form-control-sm" name="ledgerName"
                                #ledgerName="ngModel" [(ngModel)]="formData.ledgerName" required>
                            @if (ledgerName.invalid && ledgerName.touched) {
                            <small class="text-danger">
                                Ledger Name is required
                            </small>
                            }
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Gender <span class="text-danger"
                                    *ngIf="formData.ledgerType === 'Party'">*</span></label>
                            <select class="form-select form-select-sm" name="gender" [(ngModel)]="formData.gender"
                                #gender="ngModel" [required]="formData.ledgerType === 'Party'">
                                <option value="">Select Gender</option>
                                <option *ngFor="let g of genders" [value]="g.value">
                                    {{ g.title }}
                                </option>
                            </select>
                            @if (gender.invalid && gender.touched) {
                            <small class="text-danger">
                                Gender is required
                            </small>
                            }
                        </div>
                    </div>

                    <!-- Second Row -->
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <label class="form-label">PAN </label>
                            <input type="text" class="form-control form-control-sm" name="pan" #pan="ngModel"
                                [(ngModel)]="formData.pan" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"
                                (input)="formData.pan = formData.pan.toUpperCase()">

                            @if (pan.invalid && pan.touched) {
                            <small class="text-danger">
                                Invalid PAN format (ABCDE1234F)
                            </small>
                            }
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Aadhaar No</label>
                            <input type="text" class="form-control form-control-sm" name="aadhaar"
                                [(ngModel)]="formData.aadharNumber" pattern="^[0-9]{12}$" maxlength="12"
                                #aadhaar="ngModel">
                            @if (aadhaar.invalid && aadhaar.touched) {
                            <small class="text-danger">
                                Aadhaar must be 12 digits
                            </small>
                            }
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">GST</label>
                            <input type="text" class="form-control form-control-sm" name="gst"
                                [(ngModel)]="formData.gstNo">
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">Occupation</label>
                            <select class="form-select form-select-sm" name="occupationId" [(ngModel)]="formData.occupationId"
                                #occupationId="ngModel">
                                <option [ngValue]="null">Select Occupation</option>
                                <option *ngFor="let o of occupationList" [ngValue]="o.id">
                                    {{ o.occupationName  }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- Third Row -->
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <label class="form-label">Mobile No <span class="text-danger">*</span></label>
                            <input type="text" class="form-control form-control-sm" name="mobile"
                                [(ngModel)]="formData.mobileNumber" maxlength="10" inputmode="numeric"
                                (input)="sanitizeMobile($event)" #mobile="ngModel" (change)="checkPhoneNumberExist(formData.mobileNumber)" required>
                            @if (mobile.invalid && mobile.touched) {
                            <small class="text-danger">
                                Enter valid 10-digit mobile number
                            </small>
                            }
                            @if (mobileExist) {
                            <small class="text-danger">Mobile number already exist</small>
                            }
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> Email </label>
                            <input type="text" class="form-control form-control-sm" name="email"
                                [(ngModel)]="formData.email" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
                                #email="ngModel">
                            @if (email.invalid && email.touched && formData.email) {
                            <small class="text-danger">
                                Enter a valid email address
                            </small>
                            }
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> DOB </label>
                            <input type="date" class="form-control form-control-sm" name="dob"
                                [(ngModel)]="formData.dateOfBirth" #dob="ngModel" />
                        </div>
                    </div>

                    <!-- Fourth Row -->
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label class="form-label">Address</label>
                            <textarea rows="3" class="form-control form-control-sm" name="address"
                                [(ngModel)]="formData.address">
                            </textarea>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">State <span class="text-danger">*</span></label>
                            <select class="form-select form-select-sm" name="state" [(ngModel)]="formData.state"
                                (change)="onStateChange($event)" required>
                                <option *ngFor="let state of states" [value]="state.stateId">{{ state.stateName }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">City <span class="text-danger">*</span></label>
                            <select class="form-select form-select-sm" name="city" [(ngModel)]="formData.city" required>
                                <option *ngFor="let city of cities" [value]="city.cityId">{{ city.cityName }}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">PIN Code</label>
                            <input type="text" class="form-control form-control-sm" name="pinCode" inputmode="numeric"
                                oninput="this.value=this.value.replace(/[^0-9]/g,'')" pattern="^[0-9]{6}$" maxlength="6"
                                #pinCode="ngModel" [(ngModel)]="formData.pin">
                            @if (pinCode.invalid && pinCode.touched) {
                            <small class="text-danger">
                                PIN Code must be 6 digits
                            </small>
                            }
                        </div>
                    </div>

                    <!-- Fifth Row -->
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <label class="form-label">Created By</label>
                            <input type="text" class="form-control form-control-sm" name="createdBy"
                                #createdBy="ngModel" [ngModel]="formData.createdBy | getUserNameById: lstUsers"
                                readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Created DateTime</label>
                            <input type="text" class="form-control form-control-sm" name="createdDate"
                                #createdDate="ngModel" [ngModel]="formData.createdDate | date:'dd-MM-yyyy hh:mm:ss a'"
                                readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Updated By</label>
                            <input type="text" class="form-control form-control-sm" name="updateBy" #updateBy="ngModel"
                                [ngModel]="formData.updatedBy | getUserNameById: lstUsers" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Updated DateTime</label>
                            <input type="text" class="form-control form-control-sm" name="updatedDate"
                                #updatedDate="ngModel" [ngModel]="formData.updatedDate | date:'dd-MM-yyyy hh:mm:ss a'"
                                readonly>
                        </div>
                    </div>

                    <!-- Add Button -->
                    <div class="row mt-3">
                        <div class="col-md-12">

                            <button type="button" class="btn btn-primary btn-sm float-end" (click)="backToList()">
                                Cancel
                            </button>
                            <button type="submit" [disabled]="customerLedgerForm.invalid || mobileExist"
                                class="btn btn-primary btn-sm float-end me-1">
                                    {{ isModify ? 'Update' : 'Save' }}

                            </button>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div><!-- end card -->
</div>