<div class="container-fluid">

    <!-- Header -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center text-white">
            <h5 class="mb-sm-0">FFIR</h5>
            <h5 class="mb-sm-0">Job No. {{ffirData?.jobNo || ffirObj?.jobCardHeaderId}}</h5>
            <button class="btn btn-light btn-sm" (click)="onNavigate()">
                <i class="ri-menu-line"></i>
            </button>
        </div>


        <div class="card-body">

            <!-- Accordion Start -->
            <div class="accordion" id="ffirAccordion">

                <!-- BASIC INFO -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingBasic">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseBasic">
                            Basic Information
                        </button>
                    </h2>

                    <div id="collapseBasic" class="accordion-collapse collapse show">
                        <div class="accordion-body">

                            <div class="row g-2">

                                <div class="col-md-3">
                                    <label>Prefix</label>
                                    <input type="text" class="form-control form-control-sm"
                                        [(ngModel)]="ffirObj.ffirPrefix">
                                </div>

                                <div class="col-md-3">
                                    <label>FFIR No.</label>
                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="ffirObj.cirNo">
                                </div>

                                <div class="col-md-3">
                                    <label>FFIR Date</label>
                                    <input type="date" class="form-control form-control-sm"
                                        [(ngModel)]="ffirObj.cirDate">
                                </div>

                                <div class="col-md-3">
                                    <label>Customer Name</label>
                                    <input type="text" class="form-control form-control-sm"
                                        [value]="ffirData?.customerName">
                                </div>

                                <div class="col-md-3">
                                    <label>Purpose of FFIR</label>
                                    <select class="form-select form-select-sm" [(ngModel)]="ffirObj.purposeOfCIR">
                                        <option value="">-- Select Type --</option>

                                        <option *ngFor="let item of purposeofCIR" [value]="item.value">
                                            {{ item.value }}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label>Location</label>
                                    <!-- <select class="form-select form-select-sm text-truncate"
                                        [(ngModel)]="selectedLocation" (change)="onLocationChange($event)">

                                        <option value="">Select Location</option>

                                        <option *ngFor="let loc of locations" [ngValue]="loc.locname">
                                            {{ loc.locname }}
                                        </option>

                                    </select> -->
                                    <input type="text" class="form-control form-control-sm"
                                        [value]="ffirData.locationName" readonly>
                                </div>

                                <div class="col-md-3">
                                    <label>Chassis No.</label>
                                    <input type="text" class="form-control form-control-sm"
                                        [value]="ffirData?.chassisNo" readonly>
                                </div>

                                <div class="col-md-3">
                                    <label>Reg. No.</label>
                                    <input type="text" class="form-control form-control-sm bg-light text-muted"
                                        [value]="ffirData?.registerNo" readonly>
                                </div>
                                <div class="col-md-3">
                                    <label>Vehicle Sales Date</label>
                                    <input type="date" class="form-control form-control-sm bg-light text-muted"
                                        [value]="ffirData.vehicleSaleDate | date:'yyyy-MM-dd'" readonly>
                                </div>
                                <div class="col-md-3">
                                    <label>Failure Date</label>
                                    <input type="date" class="form-control form-control-sm"
                                        [(ngModel)]="ffirObj.failureDate">
                                </div>
                                <div class="col-md-3">
                                    <label>Report Title</label>
                                    <input type="text" class="form-control form-control-sm"
                                        [(ngModel)]="ffirObj.reportTitle">
                                </div>
                                <div class="col-md-3">
                                    <label>Report Prepared by</label>
                                    <input type="text" class="form-control form-control-sm"
                                        [(ngModel)]="ffirObj.reportPreparedBy">
                                </div>
                                <div class="col-md-3">
                                    <label>Vehicle Model</label>
                                    <input type="text" class="form-control form-control-sm bg-light text-muted"
                                        [value]="ffirData?.modelName" readonly>
                                </div>
                                <div class="col-md-3">
                                    <label>Vehicle Journey</label>
                                    <input type="text" class="form-control form-control-sm bg-light text-muted"
                                        [value]="ffirData?.vehiclekms" readonly>
                                </div>
                                <div class="col-md-3">
                                    <label>No. of passengers</label>
                                    <input type="text" class="form-control form-control-sm"
                                        [(ngModel)]="ffirObj.noOfPassenger">
                                </div>
                                <div class="col-md-3">
                                    <label>Main Part Affected</label>
                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="searchpartText"
                                        (input)="filterParts()" (focus)="showDropdown = true" (blur)="hideDropdown()">

                                    <!-- Dropdown -->
                                    <ul *ngIf="showDropdown && filteredParts.length > 0"
                                        class="list-group position-absolute w-100"
                                        style="z-index: 1000; max-height: 200px; overflow-y: auto;">

                                        <li *ngFor="let part of filteredParts"
                                            class="list-group-item list-group-item-action"
                                            (mousedown)="selectPart(part)">
                                            {{ part.partAffectedName }}
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <label>Type of Road Surface</label>
                                    <select name="RoadSurface" id="ddlRoadSurface" class="form-select form-select-sm"
                                        [(ngModel)]="ffirObj.typeOfRoadSurface">
                                        <option value="">-- Select Type --</option>

                                        <option *ngFor="let item of typeRoadSurface" [value]="item.value">
                                            {{ item.value }}
                                        </option>
                                    </select>
                                </div>
                                <!-- <div class="col-md-2">
                                    <label>Field Condition</label>
                                    <select class="form-select form-select-sm">
                                        <option>Select</option>
                                    </select>
                                </div> -->
                                <!-- <div class="col-md-2">
                                    <label>Industry</label>
                                    <select class="form-select form-select-sm">
                                        <option>--- Select Industry ---</option>
                                    </select>
                                </div> -->
                                <div class="col-md-2">

                                    <label>Repeat Failure?</label>

                                    <div class="btn-group w-50">

                                        <input type="radio" class="btn-check btn-check-sm" name="repeatFailure" id="rN"
                                            [value]="false" [(ngModel)]="ffirObj.repeatFailure">

                                        <label class="btn btn-sm btn-outline-primary" for="rN">
                                            N
                                        </label>

                                        <input type="radio" class="btn-check btn-check-sm" name="repeatFailure" id="rY"
                                            [value]="true" [(ngModel)]="ffirObj.repeatFailure">

                                        <label class="btn btn-sm btn-outline-primary" for="rY">
                                            Y
                                        </label>

                                    </div>

                                </div>

                                <div class="col-md-2">

                                    <label>Chassis Modified?</label>

                                    <div class="btn-group w-50">

                                        <input type="radio" class="btn-check btn-check-sm" name="chassisModified"
                                            id="cN" [value]="false" [(ngModel)]="ffirObj.chassisModified">

                                        <label class="btn btn-sm btn-outline-primary" for="cN">
                                            N
                                        </label>

                                        <input type="radio" class="btn-check btn-check-sm" name="chassisModified"
                                            id="cY" [value]="true" [(ngModel)]="ffirObj.chassisModified">

                                        <label class="btn btn-sm btn-outline-primary" for="cY">
                                            Y
                                        </label>

                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <label>Remarks</label>
                                    <input type="text" class="form-control form-control-sm"
                                        [(ngModel)]="ffirObj.ffirRemarks">
                                </div>
                                <div class="table-responsive mt-3">
                                    <table class="table table-sm table-bordered">
                                        <thead class="table-light">
                                            <tr>
                                                <th width="80">Action</th>
                                                <th>S.No.</th>
                                                <th>Main Part Affected</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of selectedMainParts; let i = index">

                                                <td>
                                                    <button class="btn btn-sm btn-danger" (click)="deleteMainPart(i)">

                                                        <i class="ri-delete-bin-line"></i>

                                                    </button>
                                                </td>

                                                <td>{{ i + 1 }}</td>

                                                <td>

                                                    {{
                                                    item.fullPartName
                                                    ||
                                                    (item.partAffectedName + ' - ' + item.partAffectedDescription)
                                                    }}

                                                </td>

                                            </tr>

                                            <tr *ngIf="selectedMainParts.length === 0">

                                                <td colspan="3" class="text-center">
                                                    No Data Found
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- Table -->
                                <div class="table-responsive mt-3">
                                    <table class="table table-sm table-bordered">
                                        <thead class="table-light">
                                            <tr>
                                                <th>Customer Voice</th>
                                                <th>Complaint Code</th>
                                                <th>Complaint Description</th>
                                                <th>Dealer Observation</th>
                                                <!-- <th>Action Taken</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of complaintList">
                                                <td>{{ item.customerVoice }}</td>
                                                <td>{{ item.complaintCode }}</td>
                                                <td>{{ item.complaint }}</td>
                                                <td>{{ item.observation }}</td>
                                                <!-- <td>{{ item.actionTaken }}</td> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Failure Parts -->
                <!--Cuurently commented not to need -->
                <!-- <div class="accordion-item">
                    <h2 class="accordion-header" id="headingVehicle">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseVehicle">
                            Failure Parts
                        </button>
                    </h2>
                    <div id="collapseVehicle" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label>Failure Parts(Description:)</label>
                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="searchpartText"
                                        (input)="filterParts()" (focus)="showfailurepartdropdown = true"
                                        (blur)="hideDropdown()">                                   
                                    <ul *ngIf="showfailurepartdropdown && filteredParts.length > 0"
                                        class="list-group position-absolute w-100"
                                        style="z-index: 1000; max-height: 200px; overflow-y: auto;">
                                        <li *ngFor="let part of filteredParts"
                                            class="list-group-item list-group-item-action"
                                            (mousedown)="selectPart(part)">
                                            {{ part.partAffectedName }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <label>Issue Type</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">-- Select Issue Type --</option>

                                        <option *ngFor="let item of issueTypeList" [value]="item.value">
                                            {{ item.value }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Qty</label>
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                                <div class="col-md-3">
                                    <label>Rate</label>
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                                <div class="col-md-3">
                                    <label>Complaint Code(Description :)</label>
                                    <input type="text" class="form-control form-control-sm"
                                        [(ngModel)]="searchComplaintText" (input)="filterComplaints()"
                                        (focus)="showComplaintDropdown = true" (blur)="hideDropdown()">

                                   
                                    <ul *ngIf="showComplaintDropdown && failurcomplaintList.length > 0"
                                        class="list-group position-absolute w-100"
                                        style="z-index: 1000; max-height: 200px; overflow-y: auto;">

                                        <li *ngFor="let complaint of failurcomplaintList"
                                            class="list-group-item list-group-item-action"
                                            (mousedown)="selectComplaint(complaint)">
                                            {{ complaint.complaint }}
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-1">
                                    <label>Add</label>
                                    <button class="btn btn-sm btn-primary">
                                        <i class="ri-add-line">Add</i>
                                    </button>
                                </div>
                            </div>                        
                            <div class="mt-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type" checked>
                                    <label class="form-check-label">Part</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type">
                                    <label class="form-check-label">Accessory</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type">
                                    <label class="form-check-label">Oil</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type">
                                    <label class="form-check-label">Labour</label>
                                </div>
                            </div>                       
                            <div class="table-responsive mt-3">
                                <table class="table table-bordered align-middle text-nowrap">
                                    <thead class="table-light text-center">
                                        <tr>
                                            <th>Action</th>
                                            <th>Sr.No.</th>
                                            <th>Failure Parts<br>Failure Desc</th>
                                            <th>Item Type<br>Issue Type</th>
                                            <th>Qty<br>Rate</th>
                                            <th>GST %<br>GST Amnt</th>
                                            <th>Total Amnt</th>
                                            <th>Complain Code<br>Complain Desc</th>
                                            <th>Approved Qty<br>Approved Per (%)<br>Approved Amount</th>
                                            <th>Status<br>Remark</th>
                                            <th>Upload</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                     
                                        <tr class="table-danger">
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-danger">
                                                    <i class="ri-delete-bin-line"></i>
                                                </button>
                                            </td>
                                            <td class="text-center">1.</td>
                                            <td>
                                                WLPVFMEM0160<br>
                                                BATTERY 51.2V 45Ah 2.3kWh-Replacement
                                            </td>
                                            <td>
                                                Labour<br>U/W
                                            </td>
                                            <td class="text-end">
                                                1<br>10.00
                                            </td>
                                            <td class="text-end">
                                                18.00<br>01.80
                                            </td>
                                            <td class="text-end">11.80</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><input type="file" #fileInput>
                                                <i class="ri-upload-2-line text-primary" style="cursor:pointer"
                                                    (click)="fileInput.click()"></i>
                                            </td>
                                        </tr>                                     
                                        <tr class="table-info">
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-danger">
                                                    <i class="ri-delete-bin-line"></i>
                                                </button>
                                            </td>
                                            <td class="text-center">2.</td>
                                            <td>
                                                22DZ410050AS<br>
                                                BATTERY 51.2V 45Ah 2.3kWh
                                            </td>
                                            <td>
                                                Parts<br>U/W
                                            </td>
                                            <td class="text-end">
                                                1<br>29,745.04
                                            </td>
                                            <td class="text-end">
                                                18.00<br>5,354.11
                                            </td>
                                            <td class="text-end">35,099.15</td>
                                            <td>
                                                Battery not responding<br>
                                                Battery not responding
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <input type="file" #fileInput>
                                                <i class="ri-upload-2-line text-primary" style="cursor:pointer"
                                                    (click)="fileInput.click()"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>     
                </div> -->
                <!--End failure parts-->

                <!-- Job History -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFailure">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFailure">
                            Job History
                        </button>
                    </h2>

                    <div id="collapseFailure" class="accordion-collapse collapse">
                        <div class="accordion-body">

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered align-middle text-nowrap">

                                        <thead class="table-light">
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Job Card No</th>
                                                <th>Date</th>
                                                <th>Vehicle Journey</th>
                                                <th>Observation</th>
                                                <th>Service Head</th>
                                                <th>Service Type</th>
                                                <th>Remarks</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr *ngFor="let item of jobcardhistoryList; let i = index">
                                                <td class="text-center">{{ i + 1 }}</td>

                                                <td>{{ item.jobCardNo }}</td>

                                                <td>
                                                    {{ item.jobCardDate | date:'MM-dd-yyyy' }}
                                                </td>

                                                <td>{{ item.vehicleJourney }}</td>

                                                <td>{{ item.observation }}</td>

                                                <td>{{ item.serviceHead }}</td>

                                                <td>{{ item.serviceType }}</td>

                                                <td>{{ item.remarks }}</td>
                                            </tr>

                                            <!-- Optional No Data Row -->
                                            <tr *ngIf="!jobcardhistoryList || jobcardhistoryList.length === 0">
                                                <td colspan="8" class="text-center">
                                                    No Record Found
                                                </td>
                                            </tr>

                                        </tbody>

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--Detailed Observation-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingBasic">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseBasic">
                            DETAILED OBSERVATIONS
                        </button>
                    </h2>

                    <div id="collapseSetailed
                    observation" class="accordion-collapse collapse show">
                        <div class="accordion-body">

                            <div class="card-body p-0">

                                <div class="table-responsive">
                                    <table class="table table-bordered align-middle mb-0">

                                        <tbody>
                                            <!-- Row 1 -->
                                            <tr>
                                                <td style="width: 50%;">
                                                    Detailed Observations on complaint and the Failed Parts:
                                                </td>
                                                <td>
                                                    <textarea class="form-control form-control-sm"
                                                        [(ngModel)]="ffirObj.detailObservation.observationFailedParts">
                                                    </textarea>
                                                </td>
                                            </tr>
                                            <!-- Row 2 -->
                                            <tr>
                                                <td>Root cause of the failure</td>
                                                <td>
                                                    <textarea class="form-control form-control-sm"
                                                        [(ngModel)]="ffirObj.detailObservation.rootCauseofFailure">
                                                    </textarea>
                                                </td>
                                            </tr>
                                            <!-- Row 3 -->
                                            <tr>
                                                <td>Corrective action taken</td>
                                                <td>
                                                    <textarea class="form-control form-control-sm"
                                                        [(ngModel)]="ffirObj.detailObservation.correctiveAction">
                                                    </textarea>
                                                </td>
                                            </tr>
                                            <!-- Row 4 -->
                                            <tr>
                                                <td>
                                                    Any Local solution or Suggestion from the field for Prevention/Quick
                                                    resolution of the complaint
                                                </td>
                                                <td>
                                                    <textarea class="form-control form-control-sm"
                                                        [(ngModel)]="ffirObj.detailObservation.resolutionComplaint"></textarea>
                                                </td>
                                            </tr>
                                            <!-- Row 5 -->
                                            <tr>
                                                <td>Present Status of the Vehicle</td>
                                                <td>
                                                    <select class="form-select form-select-sm"
                                                        [(ngModel)]="ffirObj.detailObservation.presentStatusofVehicle">
                                                        <option value="">-- Select Status --</option>
                                                        <option *ngFor="let item of presentvehcileStatus"
                                                            [value]="item.value">
                                                            {{ item.value }}
                                                        </option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <!-- Row 6 -->
                                            <tr>
                                                <td>If vehicle off road, Reason is</td>
                                                <td>
                                                    <textarea class="form-control form-control-sm"
                                                        [(ngModel)]="ffirObj.detailObservation.vehicleOffRoadReason"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion End -->
                <!-- Footer Buttons -->
                <div class="mt-3 d-flex justify-content-between">
                    <div>
                        <button class="btn btn-primary btn-sm" (click)="saveFFIR()">Save</button>
                        <button class="btn btn-light btn-sm">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>