<!-- src\app\components\lotinspection\lot-inspection-details\lot-inspection-details\lot-inspection-details.html -->
<!-- HEADER -->
<div class="page-title-box d-sm-flex align-items-center justify-content-between mb-2">
    <h5 class="mb-0">LOT Inspection</h5>
</div>
<div class="card">
    <div class="card-body">
        <div class="accordion" id="accordionExample">

            <!-- LOGISTIC INFO -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button py-2" data-bs-toggle="collapse" data-bs-target="#logisticinfo">
                        Logistic Information
                    </button>
                </h2>

                <div id="logisticinfo" class="accordion-collapse collapse show">
                    <div class="accordion-body py-2">

                        <div class="row g-2">

                            <div class="col-md-3">
                                <label>Invoice No</label>
                                <input class="form-control form-control-sm" [(ngModel)]="headerObj.invoiceNo" readonly
                                    required>
                            </div>

                            <div class="col-md-3">
                                <label>Invoice Date</label>
                                <input type="date" class="form-control form-control-sm"
                                    [(ngModel)]="headerObj.invoiceDate" readonly>
                            </div>

                            <div class="col-md-3">
                                <label>LOT No.</label>
                                <input class="form-control form-control-sm" [(ngModel)]="headerObj.lotNo" readonly>
                            </div>

                            <div class="col-md-3">
                                <label>Date of Arrival</label>
                                <input type="date" class="form-control form-control-sm" #arrivalDate="ngModel"
                                    name="arrivalDate" [(ngModel)]="headerObj.arrivalDate">

                                <div class="text-danger" *ngIf="arrivalDate.invalid && arrivalDate.touched">
                                    Arrival Date is required.
                                </div>

                            </div>

                            <div class="col-md-3">
                                <label>Time of Arrival</label>
                                <input type="time" class="form-control form-control-sm"
                                    [(ngModel)]="headerObj.arrivalTime" #arrivalTime="ngModel" name="arrivalTime">
                                <div class="text-danger" *ngIf="arrivalTime.invalid && arrivalTime.touched">
                                    Arrival Time is required.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>L.R. No</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="headerObj.lrNo"
                                    #lrNo="ngModel" name="lrNo">
                                <div class="text-danger" *ngIf="lrNo.invalid && lrNo.touched">
                                    L.R. No is required.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>L.R. Date</label>
                                <input type="date" class="form-control form-control-sm" [(ngModel)]="headerObj.lrDate"
                                    #lrDate="ngModel" name="lrDate">
                                <div class="text-danger" *ngIf="lrDate.invalid && lrDate.touched">
                                    L.R. Date is required.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>Truck No</label>
                                <input class="form-control form-control-sm" [(ngModel)]="headerObj.truckNo"
                                    #truckNo="ngModel" name="truckNo">
                                <div class="text-danger" *ngIf="truckNo.invalid && truckNo.touched">
                                    Truck No. is required.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>Transporter Name</label>
                                <input class="form-control form-control-sm" [(ngModel)]="headerObj.transporterName"
                                    (keypress)="allowCharactersOnly($event)" (input)="onTransporterNameInput()"
                                    #transporterName="ngModel" name="transporterName">
                                <div class="text-danger" *ngIf="transporterName.invalid && transporterName.touched">
                                    Transporter Name is required.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>Driver Name</label>
                                <input type="text" class="form-control form-control-sm"
                                    [(ngModel)]="headerObj.driverName" (keypress)="allowCharactersOnly($event)"
                                    (input)="onDriverNameInput()" #driverName="ngModel" name="driverName">
                                <div class="text-danger" *ngIf="driverName.invalid && driverName.touched">
                                    Driver Name is required.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>Driver Contact</label>
                                <input type="text" class="form-control form-control-sm"
                                    [(ngModel)]="headerObj.driverContact" maxlength="10"
                                    (input)="allowOnlyNumbers($event,'driverContact')" #driverContact="ngModel"
                                    name="driverContact">
                                <div class="text-danger" *ngIf="driverContact.invalid && driverContact.touched">
                                    Driver Contact is required.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>Remarks</label>
                                <input class="form-control form-control-sm" [(ngModel)]="headerObj.commonRemarks">
                            </div>

                        </div>

                        <!-- DAMAGE SECTION -->
                        <div class="row g-2 mt-2">
                            <h6>Vehicle Damage Inspection Before Unloading</h6>
                            <hr class="custom-line">

                            <div class="col-md-3">
                                <label>Vehicle Fastening Bracket</label>
                                <select class="form-select form-select-sm"
                                    [(ngModel)]="headerObj.vehicleFasteningBracket"
                                    (change)="onvehiclefasteringcoverChange($event)" #vehicleFasteningBracket="ngModel"
                                    name="vehicleFasteningBracket">
                                    <option value="">Select Value</option>
                                    <option value="OK">OK</option>
                                    <option value="Loose">Loose</option>
                                </select>
                                <div class="text-danger"
                                    *ngIf="vehicleFasteningBracket.invalid && vehicleFasteningBracket.touched">
                                    Please Select Vehicle Fastening Bracket
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>Plastic Cover</label>
                                <select class="form-select form-select-sm" [(ngModel)]="headerObj.plasticCover"
                                    (change)="onPlastingCoverChange($event)" #plasticCover="ngModel"
                                    name="plasticCover">
                                    <option value="">Select plasticCover</option>
                                    <option value="Available">Available</option>
                                    <option value="Not Available">Not Available</option>
                                    <option value="Damaged">Damaged</option>
                                </select>
                                <div class="text-danger" *ngIf="plasticCover.invalid && plasticCover.touched">
                                    Please Select Plastic Cover
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>Name of Supervisor</label>
                                <select class="form-select form-select-sm" [(ngModel)]="headerObj.nameSupervisor"
                                    (change)="onSupervicsorChange($event)" #nameSupervisor="ngModel"
                                    name="nameSupervisor">
                                    <option value="">Select Supervisor</option>
                                    <option value="Vishal">Vishal</option>
                                    <option value="Tushar">Tushar</option>
                                    <option value="Rakesh">Rakesh</option>
                                </select>
                                <div class="text-danger" *ngIf="nameSupervisor.invalid && nameSupervisor.touched">
                                    Please Select Name of Supervisor
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Location Name</label>
                                <select class="form-select form-select-sm text-truncate"
                                    [(ngModel)]="headerObj.locationName" (change)="onLocationChange($event)"
                                    #locationName="ngModel" name="locationName">
                                    <option value="">Select Location</option>
                                    <option *ngFor="let loc of locations" [value]="loc.locname">
                                        {{ loc.locname }}
                                    </option>

                                </select>
                                <div class="text-danger" *ngIf="locationName.invalid && locationName.touched">
                                    Please Select Location Name
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Party Name</label>
                                <select class="form-select form-select-sm" [(ngModel)]="selectedlotPartyId">

                                    <option [ngValue]="null">--Select--</option>

                                    <option *ngFor="let lotParty of lotPartyList" [ngValue]="lotParty.id">

                                        {{ lotParty.ledgerName }}

                                    </option>

                                </select>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label d-block mb-1 ">Inward Type</label>
                                <div class="btn-group w-auto" role="group">
                                    <input type="radio" class="btn-check"  id="b2c" checked
                                        [(ngModel)]="headerObj.inwardType" value="B2C">
                                    <label class="btn btn-outline-primary btn-sm px-2 py-1" for="b2c">B2C</label>

                                    <input type="radio" class="btn-check"  id="b2b"
                                        [(ngModel)]="headerObj.inwardType" value="B2B">
                                    <label class="btn btn-outline-primary btn-sm px-2 py-1" for="b2b">B2B</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RECEIPT ENTRY -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button py-2" data-bs-toggle="collapse" data-bs-target="#damage">
                        Receipt Entry Details
                    </button>
                </h2>

                <div id="damage" class="accordion-collapse collapse show">
                    <div class="accordion-body p-2">

                        <div class="table-responsive table-wrapper" style="max-height: 400px; overflow: auto;">

                            <table class="table table-bordered table-sm mb-0">
                                <thead class="table-light sticky-top">
                                    <tr>
                                        <th>ModelName</th>
                                        <th>ChasisNo.</th>
                                        <th>MotorNo.</th>
                                        <th>BatteryNo.</th>
                                        <th>ChargerNo.</th>
                                        <th class="qty-header">KeyFobsetQty</th>
                                        <th class="qty-header">ChargersetQty</th>
                                        <th class="qty-header">MirrorsetQty</th>
                                        <th class="qty-header">1stAidKitQty</th>
                                        <th class="qty-header">ToolkitQty</th>
                                        <th class="qty-header">OwnerManuals</th>
                                        <th class="qty-header">IgnitionKeyset</th>
                                        <th class="qty-header">AttributeCard</th>
                                        <th class="qty-header">ChargingKit</th>
                                        <th>Insp. Date</th>
                                        <th>VehicleStatus</th>
                                        <th>DamageDetails</th>
                                        <th>ModelWiseRemarks</th>
                                        <th>UploadImage</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of detailList; let i = index">

                                        <td class="single-line">{{item.modelName}}</td>
                                        <td>{{item.chassisNo}}</td>
                                        <td>{{item.motorNo}}</td>
                                        <td>{{item.batteryNo}}</td>
                                        <td>{{item.chargerNo}}</td>
                                        <td><input [(ngModel)]="item.keyFobSetQty"
                                                class="form-control form-control-sm qty-input" maxlength="2"
                                                (input)="allowOnlyNumbers($event,'keyFobSetQty')"></td>
                                        <td><input [(ngModel)]="item.chargerQty"
                                                class="form-control form-control-sm qty-input" maxlength="2"
                                                (input)="allowOnlyNumbers($event,'chargerQty')"></td>
                                        <td><input [(ngModel)]="item.mirrorSetQty"
                                                class="form-control form-control-sm qty-input" maxlength="2"
                                                (input)="allowOnlyNumbers($event,'mirrorSetQty')"></td>
                                        <td><input [(ngModel)]="item.firstAidKitQty"
                                                class="form-control form-control-sm qty-input" maxlength="2"
                                                (input)="allowOnlyNumbers($event,'firstAidKitQty')"></td>
                                        <td><input [(ngModel)]="item.toolkitQty"
                                                class="form-control form-control-sm qty-input" maxlength="2"
                                                (input)="allowOnlyNumbers($event,'toolkitQty')"></td>
                                        <td><input [(ngModel)]="item.ownersManual"
                                                class="form-control form-control-sm qty-input" maxlength="2"
                                                (input)="allowOnlyNumbers($event,'ownersManual')"></td>
                                        <td><input [(ngModel)]="item.ignitionKeySet"
                                                class="form-control form-control-sm qty-input" maxlength="2"
                                                (input)="allowOnlyNumbers($event,'ignitionKeySet')"></td>
                                        <td><input [(ngModel)]="item.attributeCard"
                                                class="form-control form-control-sm qty-input" maxlength="2"
                                                (input)="allowOnlyNumbers($event,'attributeCard')"></td>
                                        <td><input [(ngModel)]="item.chargingKit"
                                                class="form-control form-control-sm qty-input" maxlength="2"
                                                (input)="allowOnlyNumbers($event,'chargingKit')"></td>
                                        <td><input type="date" [(ngModel)]="item.inspectionDate"
                                                class="form-control form-control-sm"></td>
                                        <td>
                                            <select class="form-select form-select-sm" [(ngModel)]="item.vehicleStatus"
                                                class="form-select form-select-sm">
                                                <option value="">Select Status</option>
                                                <option value="OK">OK</option>
                                                <option value="Damaged">Damaged</option>
                                            </select>
                                        </td>

                                        <td><input [(ngModel)]="item.damageDetails"
                                                class="form-control form-control-sm"></td>
                                        <td><input [(ngModel)]="item.chassisWiseRemarks"
                                                class="form-control form-control-sm"></td>
                                        <!-- FILE -->
                                        <td>
                                            <input type="file" hidden (change)="onFileSelected($event, i)" #fileInput>

                                            <i class="ri-upload-2-line text-primary" style="cursor:pointer"
                                                (click)="fileInput.click()"></i>

                                            <!-- Preview -->
                                            <!-- <img *ngIf="item.preview" [src]="item.preview" width="30" height="30"
                                                    class="ms-1 rounded"> -->
                                        </td>
                                    </tr>

                                    <tr *ngIf="detailList.length === 0">
                                        <td colspan="19" class="text-center text-muted">
                                            No Data Available
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!-- BUTTONS -->
        <div class="text-end mt-2">
            <button class="btn btn-add btn-sm me-2 text-white btn-primary" *ngIf="canEdit" (click)="saveData()"
                [disabled]="isLotInspected === true">
                Save
            </button><button class="btn btn-light btn-sm ">Close</button>
        </div>
    </div>
</div>