<div class="card">
  <!-- HEADER -->
  <div class="card-header d-flex justify-content-between align-items-center">

    <!-- LEFT SIDE (2 Dropdowns) -->
    <div class="d-flex align-items-center gap-2">

      <!-- Service History Dropdown -->
      <div ngbDropdown class="d-inline-block">

        <button class="btn btn-primary btn-sm" ngbDropdownToggle>
          Service History
        </button>

        <div ngbDropdownMenu class="p-2 shadow-lg" style="min-width: 900px;">

          <div class="table-responsive service-history-table">

            <table class="table table-bordered table-sm mb-0">

              <thead class="table-light sticky-top">
                <tr>
                  <th>Sr.No</th>
                  <th>Service Head</th>
                  <th>Service Type</th>
                  <th>Service Seq</th>
                  <th>Service Date</th>
                  <th>Grace Date</th>
                  <th>Status</th>
                  <th>Dealer Name</th>
                  <th>Claim Date</th>
                </tr>
              </thead>

              <tbody>

                <tr *ngFor="let item of serviceHistoryList; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.serviceHead }}</td>
                  <td>{{ item.serviceType }}</td>
                  <td>{{ item.serviceseq }}</td>

                  <td>{{ item.dueDate | date:'dd/MM/yyyy' }}</td>
                  <td>{{item.graceDate | date:'dd/MM/yyyy'}}</td>
                  <td>
                    <span class="badge" [ngClass]="{
                  'bg-primary': item.serviceStatus === 'Upcoming',
                  'bg-success': item.serviceStatus === 'Availed',
                  'bg-danger': item.serviceStatus === 'Lapsed'
                }">
                      {{ item.serviceStatus }}
                    </span>
                  </td>

                  <td>{{ item.dealerName }}</td>
                  <td>{{ item.claimDate | date:'dd/MM/yyyy' }}</td>
                </tr>

                <tr *ngIf="serviceHistoryList.length === 0">
                  <td colspan="8" class="text-center text-muted">
                    No service history available
                  </td>
                </tr>

              </tbody>

            </table>

          </div>

        </div>

      </div>


      <div>
        <button class="btn btn-primary btn-sm" type="button" [disabled]="!isEditMode" (click)="goToFFIR()">
          FFIR
        </button>
      </div>

    </div>

    <!-- RIGHT SIDE (Invoice No) -->
    <h5 class="mb-0">
      Job Card <span *ngIf="selectedJobtype == 1">
        (Invoice No. {{ invoiceNo || '' }})
      </span>
    </h5>

  </div>
  <div class="card-body">
    <!-- ================= JOB BASIC ================= -->
    <div class="section-card">
      <div class="section-header" (click)="toggle('job')">
        <h6 class="mb-0">Job Basic Information</h6>
        <div>
          Valid till :
          {{ selectedJobtype == 1 ? 0 : (odoReading || 0) }}
          Vehicle Journey.

          &

          {{ selectedJobtype == 1 ? 0 : (duration || 0) }}
          {{ selectedJobtype == 1 ? '' : (durationType || '') }}

          |

          Previous Kms : 0
        </div>

        <div *ngIf="selectedJobtype != 1">
          In Warranty Expired on {{ expireWarrentyDate || '' }}
        </div>
        <i [class]="isOpen.job ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i>
      </div>
      <div class="section-body" *ngIf="isOpen.job">
        <div class="row">
          <!-- ================= LEFT SIDE (JOB DETAILS) ================= -->
          <div class="col-md-6 border-end pe-3">
            <div class="row g-2">
              <div class="col-md-4">
                <label>Job Type</label>
                <select class="form-select form-select-sm" [(ngModel)]="selectedJobtype"
                  (change)="onJobType(); validateWarranty()">
                  <option value="">Select Job Type</option>
                  <option *ngFor="let job of jobTypeList" [value]="job.jobTypeId">
                    {{ job.jobtypeName }}
                  </option>
                </select>
              </div>
              <div class="col-md-5 position-relative">
                <label>Select Chassis</label>

                <!-- Add Mode -->
                <div *ngIf="!isEditMode">
                  <input type="text" class="form-control form-control-sm" placeholder="Type Chassis No."
                    [(ngModel)]="selectedChassis" (input)="filterChassis()" (focus)="filterChassis()"
                    (blur)="hideChassisDropdown()">

                  <div class="dropdown-menu dropdown-menu-chassis show w-100" *ngIf="filteredChassisList.length > 0">
                    <button type="button" class="dropdown-item" *ngFor="let item of filteredChassisList"
                      (mousedown)="selectChassis(item)">
                      {{ item.chassisNumber }}
                    </button>
                  </div>
                </div>

                <!-- Edit Mode -->
                <input *ngIf="isEditMode" type="text" class="form-control form-control-sm bg-light"
                  [value]="selectedChassis" readonly>
              </div>
              <div class="col-md-3">
                <label>Vehicle Kms.</label>
                <input class="form-control form-control-sm" [(ngModel)]="vehicleKms"
                  (ngModelChange)="validateWarranty()">
              </div>
              <div class="col-md-4">
                <label>Service Head</label>
                <div *ngIf="serviceHeadList.length > 1; else singleHead">
                  <select class="form-select form-select-sm" [(ngModel)]="selectedServiceHead"
                    (change)="onServiceHeadChange()">

                    <option value="">Select Service Head</option>
                    <option *ngFor="let sh of serviceHeadList" [ngValue]="sh.serviceHeadId">
                      {{ sh.serviceHeadName }}
                    </option>
                  </select>
                </div>

                <ng-template #singleHead>
                  <input class="form-control form-control-sm" [value]="serviceHeadList[0]?.serviceHeadName" readonly>
                </ng-template>
              </div>
              <div class="col-md-4">
                <label>Service Type</label>
                <div *ngIf="serviceTypeList.length > 1; else singleType">
                  <select class="form-select form-select-sm" [(ngModel)]="selectedServiceType">
                    <option value="">Select Service Type</option>
                    <option *ngFor="let st of serviceTypeList" [value]="st.serviceTypeId">
                      {{ st.serviceTypeName }}
                    </option>
                  </select>
                </div>

                <ng-template #singleType>
                  <input class="form-control form-control-sm" [value]="serviceTypeList[0]?.serviceTypeName" readonly>
                </ng-template>
              </div>
              <div class="col-md-4">
                <label class="form-lael">Service Location</label>
                <select class="form-select form-select-sm text-truncate" [(ngModel)]="selectedLocation"
                  (change)="onLocationChange($event)">

                  <option value="">Select Location</option>

                  <option *ngFor="let loc of locations" [value]="loc.locCode">
                    {{ loc.locname }}
                  </option>

                </select>
              </div>
              <div class="col-md-4">
                <label>Coupon No</label>
                <input class="form-control form-control-sm" [(ngModel)]="couponNo" readonly>
              </div>

              <h6 class="section-title">
                <strong>Job Details</strong>
              </h6>
              <hr class="custom-line">

              <div class="col-md-3">
                <label>Job Prefix</label>
                <input class="form-control form-control-sm" [(ngModel)]="jobPrefix">
              </div>
              <div class="col-md-3">
                <label>Job In Date</label>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="jobInDate" [disabled]="true">
              </div>
              <div class="col-md-3">
                <label>Job In Time</label>
                <input type="time" class="form-control form-control-sm" [(ngModel)]="jobInTime" [disabled]="true"
                  (change)="calculateEstimatedDelivery()">
              </div>
              <div class="col-md-2">
                <label>Job No.</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="jobNo" [disabled]="true">
              </div>
              <div class="col-md-3">
                <label>Manual Job No.</label>
                <input type="text" class="form-control form-control-sm" maxlength="5"
                  (input)="allowOnlyNumbers($event,'manualno')" [(ngModel)]="manualJobNo">
              </div>

              <div class="col-md-3">
                <label>Est.Delivery Date</label>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="estDelDate">
              </div>
              <div class="col-md-3">
                <label>Est.Delivery Time</label>
                <input type="time" class="form-control form-control-sm" [(ngModel)]="estDelTime">
              </div>
              <div class="col-md-3">
                <label class="form-lael">Job Source</label>
                <select class="form-select form-select-sm" [(ngModel)]="selectedJobSources"
                  [class.is-invalid]="isSubmitted && !selectedJobSources">

                  <option value="">Select Job Source</option>

                  <option *ngFor="let jobsource of jobSourceList" [value]="jobsource.jobSourceId">
                    {{ jobsource.jobSourceName }}
                  </option>
                </select>
                <div class="invalid-feedback">
                  JobSources is required.
                </div>
              </div>
              <div class="col-md-5">
                <label>Supervisor/Advisor</label>
                <select class="form-select form-select-sm" [(ngModel)]="supervisor"
                  [class.is-invalid]="isSubmitted && !supervisor">
                  <option value="">Select Supervisor</option>
                  <option value="Manoj">Manoj</option>
                  <option value="Suraj">Suraj</option>
                  <option value="Vishal">Vishal</option>
                </select>

                <div class="invalid-feedback">
                  Supervisor is required.
                </div>
              </div>
              <div class="col-md-4">
                <label>Technician</label>
                <select class="form-select form-select-sm" [(ngModel)]="technician"
                  [class.is-invalid]="isSubmitted && !technician">
                  <option value="">Select Technician</option>
                  <option value="Manoj">Manoj</option>
                  <option value="Suraj">Suraj</option>
                  <option value="Vishal">Vishal</option>
                </select>
                <div class="invalid-feedback">
                  Technician is required.
                </div>
              </div>
              <div class="col-md-3">
                <label>Job Estimate</label>
                <input type="number" class="form-control form-control-sm" [(ngModel)]="jobEstimate">
              </div>
              <div class="col-md-4">
                <label>Air Pressure Rear Tyre</label>
                <input class="form-control form-control-sm" maxlength="2" [(ngModel)]="airPressureRear"
                  (input)="allowOnlyNumbers($event,'rear')">
              </div>
              <div class="col-md-4">
                <label>Air Pressure Front Tyre</label>
                <input class="form-control form-control-sm" maxlength="2" [(ngModel)]="airPressureFront"
                  (input)="allowOnlyNumbers($event,'front')">
              </div>

            </div>
          </div>

          <!-- ================= RIGHT SIDE (CUSTOMER DETAILS) ================= -->
          <div class="col-md-6 ps-3">

            <h6 class="mb-3">Customer Details</h6>

            <div class="row g-3">

              <div class="col-md-12">
                <label>Customer Name</label>
                <input class="form-control form-control-sm bg-light text-muted" [(ngModel)]="customerObj.customerName"
                  readonly>
              </div>

              <div class="col-md-4">
                <label>Mobile No.</label>
                <input class="form-control form-control-sm bg-light text-muted" [(ngModel)]="customerObj.customerMobile"
                  readonly>
              </div>

              <div class="col-md-4">
                <label>Alternate Mobile</label>
                <input type="text" class="form-control form-control-sm" maxlength="10"
                  (input)="allowOnlyNumbers($event,'altMobile')" [(ngModel)]="customerObj.customerAltMobile">
              </div>

              <div class="col-md-4">
                <label>Model Name</label>
                <input class="form-control form-control-sm bg-light text-muted" [(ngModel)]="modelName" readonly>
              </div>

              <div class="col-md-4">
                <label>Chassis No.</label>
                <input class="form-control form-control-sm bg-light text-muted" [(ngModel)]="selectedChassis" readonly>
              </div>

              <div class="col-md-4">
                <label>Reg. No.</label>
                <input class="form-control form-control-sm" [(ngModel)]="registerNo" [readonly]="selectedJobtype == 1"
                  [ngClass]="{
         'bg-light text-muted': selectedJobtype == 1
       }">
              </div>

              <div class="col-md-4">
                <label>Motor No.</label>
                <input class="form-control form-control-sm bg-light text-muted" [(ngModel)]="motorNo" readonly>
              </div>

              <div class="col-md-4">
                <label>Battery No.</label>
                <input class="form-control form-control-sm bg-light text-muted" [(ngModel)]="batteryNumber" readonly>
              </div>

              <div class="col-md-4">
                <label>Sale Date</label>
                <input type="date" class="form-control form-control-sm bg-light text-muted"
                  [(ngModel)]="customerObj.saleDate" readonly>
              </div>

              <div class="col-md-4">
                <label>Insurance Expiry</label>
                <input type="date" class="form-control form-control-sm bg-light text-muted"
                  [(ngModel)]="customerObj.insuranceExpDate" readonly>
              </div>

              <div class="col-md-4">
                <label>Next Service Due</label>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="customerObj.nextServiceDueDate"
                  [readonly]="selectedJobtype == 1" [ngClass]="{
         'bg-light text-muted': selectedJobtype == 1
       }">
              </div>

              <div class="col-md-4">
                <label>RSA Renewal Date</label>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="customerObj.rsaRenewalDate"
                  [readonly]="selectedJobtype == 1" [ngClass]="{
         'bg-light text-muted': selectedJobtype == 1
       }">
              </div>

              <div class="col-md-12">
                <label>Remarks</label>
                <textarea class="form-control form-control-sm" rows="4" [(ngModel)]="customerObj.remarks"></textarea>
              </div>

            </div>

          </div>


        </div>
      </div>
    </div>
    <!-- ================= BATTERY ================= -->
    <div class="section-card">
      <div class="section-header" (click)="toggle('battery')">
        <h6 class="mb-0">Battery Details</h6>
        <i [class]="isOpen.battery ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i>
      </div>
      <div class="section-body" *ngIf="isOpen.battery">
        <div class="row g-3">
          <div class="col-md-3">
            <label>Battery Make</label>
            <input class="form-control form-control-sm" [(ngModel)]="batteryMake" [readonly]="isBatteryReadOnly"
              [ngClass]="{
         'bg-light text-muted': isBatteryReadOnly
       }">
          </div>
          <div class="col-md-3">
            <label>Battery Serial No(s)</label>
            <input class="form-control form-control-sm" [(ngModel)]="batteryNumber" [readonly]="isBatteryReadOnly"
              [ngClass]="{
         'bg-light text-muted': isBatteryReadOnly
       }">
          </div>
          <div class="col-md-3">
            <label>Battery Voltage at Full Charge(OCV)</label>
            <input class="form-control form-control-sm" [(ngModel)]="batteryOCV">
          </div>
          <div class="col-md-3">
            <label class="single-line">Battery Voltage at Full Charge(CCV)</label>
            <input class="form-control form-control-sm" [(ngModel)]="batteryCCV">
          </div>
          <div class="col-md-3">
            <label>Battery Voltage at Discharge</label>
            <input class="form-control form-control-sm" [(ngModel)]="batteryDischarge">
          </div>
          <div class="col-md-3">
            <label>Capacity(AH of Battery)</label>
            <input class="form-control form-control-sm" [(ngModel)]="capacityAH">
          </div>
          <div class="col-md-3">
            <label>Battery Set Voltage</label>
            <input class="form-control form-control-sm" [(ngModel)]="batteryVoltage">
          </div>
          <div class="col-md-3">
            <label>Motor Drawing Current(At No Load)</label>
            <input class="form-control form-control-sm" [(ngModel)]="motorNo" [readonly]="isBatteryReadOnly" [ngClass]="{
         'bg-light text-muted': isBatteryReadOnly
       }">
          </div>
          <div class="col-md-3">
            <label>Charger Make</label>
            <input class="form-control form-control-sm" [(ngModel)]="chargerMake" [readonly]="isBatteryReadOnly"
              [ngClass]="{
         'bg-light text-muted': isBatteryReadOnly
       }">
          </div>
          <div class="col-md-3">
            <label>Charger No.</label>
            <input class="form-control form-control-sm" [(ngModel)]="chargerNumber" [readonly]="isBatteryReadOnly"
              [ngClass]="{
         'bg-light text-muted': isBatteryReadOnly
       }">
          </div>
          <div class="col-md-3">
            <label>Coverter No.</label>
            <input class="form-control form-control-sm" [(ngModel)]="converterNo" [readonly]="isBatteryReadOnly"
              [ngClass]="{
         'bg-light text-muted': isBatteryReadOnly
       }">
          </div>
          <div class="col-md-3">
            <label>Controller No. Make</label>
            <input class="form-control form-control-sm" [(ngModel)]="controllerNo" [readonly]="isBatteryReadOnly"
              [ngClass]="{
         'bg-light text-muted': isBatteryReadOnly
       }">
          </div>
          <div class="col-md-3">
            <label>Battery Chemical</label>
            <input class="form-control form-control-sm" [(ngModel)]="batteryChemestry" [readonly]="isBatteryReadOnly"
              [ngClass]="{
         'bg-light text-muted': isBatteryReadOnly
       }">
          </div>
          <div class="col-md-3">
            <label>Battery Capacity</label>
            <input class="form-control form-control-sm" [(ngModel)]="batteryCapacity" [readonly]="isBatteryReadOnly"
              [ngClass]="{
         'bg-light text-muted': isBatteryReadOnly
       }">
          </div>
        </div>
      </div>
    </div>
    <!-- ================= CUSTOMER VOICE ================= -->
    <div class="section-card">
      <div class="section-header" (click)="toggle('voice')">
        <h6 class="mb-0">Customer Voice</h6>
        <i [class]="isOpen.voice ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i>
      </div>

      <div class="section-body" *ngIf="isOpen.voice">
        <div class="row g-3">

          <div class="col-md-3">
            <label>Customer Voice</label>
            <input class="form-control form-control-sm" [(ngModel)]="complaintObj.customerVoice">
          </div>

          <div class="col-md-3 position-relative">
            <label>Complaint Name</label>
            <input class="form-control form-control-sm" [(ngModel)]="complaintObj.complaintCode"
              (input)="onComplaintSearch($event)" autocomplete="off">

            <div class="dropdown-menu show w-100" *ngIf="showComplaintDropdown">
              <button type="button" class="dropdown-item" *ngFor="let item of filteredComplaints"
                (click)="selectComplaint(item)">
                {{ item.complaintName }}
              </button>
            </div>
          </div>

          <div class="col-md-3">
            <label>Complaint Description</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="complaintObj.complaint"
              (input)="onComplaintSearch($event)" autocomplete="off">

            <!-- <input class="form-control form-control-sm" [(ngModel)]="complaintObj.complaint"> -->
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-sm commonbtnAdd"
              [disabled]="!complaintObj.customerVoice || !complaintObj.complaint" (click)="addComplaint()">Add</button>
          </div>
        </div>
        <div class="mt-3">

          <!-- Table -->
          <table class="table table-bordered table-sm" *ngIf="complaintList.length > 0">
            <thead class="table-light">
              <tr>
                <th>Sr No</th>
                <th>Customer Voice</th>
                <th>Complaint Code</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of complaintList; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.customerVoice }}</td>
                <td>{{ item.complaintCode }}</td>
                <td>{{ item.complaint }}</td>

                <td>
                  <button class="btn btn-soft-danger btn-sm">
                    <i class="ri-delete-bin-2-line" (click)="deleteComplaint(i)"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- No Record -->
          <div class="text-center text-muted" *ngIf="complaintList.length === 0">
            Record(s) not found.
          </div>
          <div class="text-danger mt-2" *ngIf="showComplaintValidation">
            Please add at least one Customer Voice record before saving.
          </div>
        </div>
      </div>
    </div>

    <!-- ================== Comments section =============== -->
    <div class="section-card">
      <div class="section-header" (click)="toggle('comments')">
        <h6 class="mb-0">Comments & Accessory</h6>
        <i [class]="isOpen.voice ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i>
      </div>
      <div class="section-body" *ngIf="isOpen.comments">
        <div class="row g-3">
          <div class="col-md-6">
            <label>Observation(s)<span class="text-danger">*</span></label>
            <textarea class="form-control form-control-sm" rows="5" name="observation" [(ngModel)]="observation"
              #observationCtrl="ngModel" placeholder="Enter observation" required>
            </textarea>
            <div class="text-danger mt-1"
              *ngIf="observationCtrl.invalid && (observationCtrl.dirty || observationCtrl.touched)">
              Observation is required.
            </div>
          </div>
          <div class="col-md-6">
            <label>Supervisor Comment<span class="text-danger">*</span></label>
            <textarea class="form-control form-control-sm" rows="5" name="supervisorComment"
              [(ngModel)]="supervisorComment" #supervisorCommentCtrl="ngModel" placeholder="Enter supervisor comment"
              required>
            </textarea>
            <div class="text-danger mt-1"
              *ngIf="supervisorCommentCtrl.invalid && (supervisorCommentCtrl.dirty || supervisorCommentCtrl.touched)">
              Supervisor Comment is required.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- =================== Labour ====================== -->
    <!-- <div class="section-card">
      <div class="section-header" (click)="toggle('labour')">
        <h6 class="mb-0">Labour</h6>
        <i [class]="isOpen.voice ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i>
      </div>
      <div class="section-body" *ngIf="isOpen.labour">
        <div class="row g-3">
          <h6 class="mb-0">Add Labour</h6>
          <div class="col-md-3">
            <label>Item Name</label>
            <input class="form-control form-control-sm" type="text" placeholder="Search item" />
          </div>
          <div class="col-md-3">
            <label>Hrs/TAT</label>
            <input class="form-control form-control-sm" type="text" />
          </div>
          <div class="col-md-3">
            <label>Amount</label>
            <input class="form-control form-control-sm" type="text" />
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary btn-sm commonbtnAdd">Add</button>
          </div>
          <div class="mt-3 text-muted">
            Total Amount :
          </div>
        </div>
      </div>
    </div> -->
    <!-- ==================== Affected Parts =================== -->
    <!-- <div class="section-card">
      <div class="section-header" (click)="toggle('affectedparts')">
        <h6 class="mb-0">Affected Parts</h6>
        <i [class]="isOpen.voice ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i>
      </div>
      <div class="section-body" *ngIf="isOpen.affectedparts">
        <h6>Suggested Parts</h6>
        <div class="row g-3">
          <div class="col-md-3">
            <label>Select Item</label>
            <input class="form-control form-control-sm" />
          </div>
          <div class="col-md-3">
            <label>Item Description</label>
            <input class="form-control form-control-sm" />
          </div>
          <div class="col-md-3">
            <label>Item MRP</label>
            <input class="form-control form-control-sm" />
          </div>
          <div class="col-md-3">
            <label>Remarks</label>
            <input class="form-control form-control-sm" />
          </div>
          <div class="col-md-6">
            <label>Upload Image(Only .png.jpg images allowed)</label>
            <input type="file" id="imageUpload" accept="image/*">
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-sm commonbtnAdd">Add</button>
          </div>
          <div class="mt-3 text-muted">
            Total Amount :
          </div>
        </div>
        <div class="text-center mt-3 text-muted">
          Record(s) not found.
        </div>
      </div>
    </div> -->

    <!-- =================== Insurance ========================== -->
    <!-- <div class="section-card">
      <div class="section-header" (click)="toggle('insurance')">
        <h6 class="mb-0">Insurance</h6>
        <i [class]="isOpen.voice ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i>
      </div>
      <div class="section-body" *ngIf="isOpen.insurance">
        <h6>Suggested Parts</h6>
        <div class="row g-3">
          <div class="col-md-3">
            <label>Insurance Party</label>
            <input class="form-control form-control-sm" />
          </div>
          <div class="col-md-3">
            <label>Surveyor name</label>
            <input class="form-control form-control-sm" />
          </div>
          <div class="col-md-3">
            <label>Contact Number</label>
            <input class="form-control form-control-sm" />
          </div>
          <div class="col-md-3">
            <label>Policy No.</label>
            <input class="form-control form-control-sm" />
          </div>
          <div class="col-md-3">
            <label>Claim No.</label>
            <input class="form-control form-control-sm" />
          </div>
          <div class="col-md-3">
            <label>Valid From</label>
            <input class="form-control form-control-sm" />
          </div>
          <div class="col-md-3">
            <label>Valid To</label>
            <input class="form-control form-control-sm" />
          </div>
          <div class="col-md-3">
            <label>Zero Dep.</label>
            <select class="form-select form-select-sm">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- FOOTER -->
  <div class="card-footer d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-primary btn-sm" [disabled]="selectedJobtype == 1 && !isPdiSaved"
      (click)="saveJobCard()">
      Save
    </button>
    <!--<button type="button" class="btn btn-primary btn-sm" [disabled]="!isPdiSaved" (click)="saveJobCard()">Save</button>-->
    <button class="btn btn-primary btn-sm" [disabled]="selectedJobtype != 1"
      (click)="openPdiModal(PdiModelChecklist)">PDI Checklist</button>
    <button class="btn btn-danger btn-sm" (click)="onCancelClick()">Cancel</button>
  </div>
</div>

<!-- =======================PDI Checklist Popup ============================== -->
<ng-template #PdiModelChecklist let-modal>

  <div class="modal-header">
    <h5 class="modal-title">PDI Checklist</h5>
    <button type="button" class="btn-close btn-close-white" (click)="onClose(modal)"></button>
  </div>

  <!-- Body (Scrollable) -->
  <div class="modal-body p-0" style="max-height: 70vh; overflow-y: auto;">

    <div class="table-responsive">
      <table class="table table-bordered table-sm mb-0">

        <thead class="table-light sticky-top">
          <tr>
            <th style="width: 60px;">Sr No</th>
            <th style="width: 150px;">PDI Head</th>
            <th>Description</th>
            <th style="width: 100px;">Status</th>
            <th style="width: 200px;">Remarks</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of pdiCheckList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.pdiheadName }}</td>
            <td>{{ item.pdidescription }}</td>

            <td>
              <div class="form-check form-switch d-flex justify-content-center">
                <input class="form-check-input" type="checkbox" [(ngModel)]="item.isStatus">
                <label class="form-check-label"> &nbsp; {{ item.isStatus ? ' Yes': ' No' }}</label>
              </div>
            </td>

            <td>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="item.remarks"
                placeholder="Enter remarks">
            </td>
          </tr>
          <tr *ngIf="pdiCheckList.length === 0">
            <td colspan="6" class="text-center text-muted">
              No data found
            </td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>

  <!-- Footer -->
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="savePdi(); modal.close()">Save</button>
    <button class="btn btn-danger btn-sm" (click)="onClose(modal)">Close</button>
  </div>

</ng-template>