#receiptTable {
 .table .sort::before {
        top: 6px;
    }

    .table .sort::after {
        top: 0px;
    }
}

.receipt-table th,
.receipt-table td {
  white-space: nowrap;
}
.table-gridjs th.sort {
  padding-right: 30px;
}
.receipt-modal-header {
  background-color: #747CA0;
  color: white;
}

.receipt-modal-header .modal-title {
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.sort
    {
        padding-right: 35px; // extra space for icons
    }
    .td{
      font-size:12px;
    }