<div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
  <h4 class="mb-sm-0">Vehicle Item Master</h4>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-end align-items-center">
          <!-- Download Excel Button -->
          <button class="btn btn-success btn-sm me-3" (click)="downloadItemMasterExcel()">
            <i class="ri-file-excel-2-line"></i>
          </button>
          <!-- Search Box -->

          <div class="search-box">
            <input type="text" class="form-control search" placeholder="Search..." (input)="searchItems($event)" />
            <i class="ri-search-line search-icon"></i>
          </div>
        </div>

      </div><!-- end card header -->

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-gridjs">
            <thead class="table-bgColor">
              <tr>
                <th class="sort" (click)="sort('id')" data-sort="id">Sr No.</th>
                <th class="sort" (click)="sort('itemtype')" data-sort="itemtype">Item Type</th>
                <th class="sort" (click)="sort('itemname')" data-sort="itemname">Vehicle Name</th>
                <th class="sort" (click)="sort('itemcode')" data-sort="itemcode">Vehicle Code</th>
                <th class="sort" (click)="sort('itemdesc')" data-sort="itemdesc">Item Description</th>
                <!-- <th class="sort" (click)="sort('iselectric')" data-sort="iselectric">Is OEM Model</th>
                <th class="sort" (click)="sort('hsncode')" data-sort="hsncode">HSNCode</th> -->
                <!-- <th class="sort" (click)="sort('custprice')" style="cursor:pointer" data-sort="custprice">Customer Price</th>
                <th class="sort" (click)="sort('dlrprice')" style="cursor:pointer" data-sort="dlrprice">Dealer Price</th> -->
                <!-- <th class="sort" (click)="sort('igst')" data-sort="igst">IGST</th> -->
                <th class="sort" (click)="sort('status')" data-sort="status">Status</th>
              </tr>
            </thead>
            <tbody>
              <!-- @for ( data of griddata ; track $index) {
              <tr>
                <td><ngb-highlight [result]="data.id" [term]="service.searchTerm"></ngb-highlight></td>
                <td><ngb-highlight [result]="data.name" [term]="service.searchTerm"></ngb-highlight></td>
                <td><ngb-highlight [result]="data.email" [term]="service.searchTerm"></ngb-highlight></td>
                <td><ngb-highlight [result]="data.position" [term]="service.searchTerm"></ngb-highlight></td>
                <td><ngb-highlight [result]="data.company" [term]="service.searchTerm"></ngb-highlight></td>
                <td><ngb-highlight [result]="data.country" [term]="service.searchTerm"></ngb-highlight></td>
                <td data-column-id="actions" class="gridjs-td"><span><button type="button" class="btn btn-sm btn-light">Details</button></span></td>
              </tr>
              } -->


              @for (data of pagedData; track $index) {

              <tr (click)="openDetails(itemModal,data)" style="cursor:pointer">
                <td>
                  <ngb-highlight [result]="data.id" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="data?.grpid == 11 ? 'Parts' : 'Vehicle'"
                    [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="data.itemname" [term]="searchTerm"></ngb-highlight>
                </td>

                <td>
                  <ngb-highlight [result]="data.itemcode" [term]="searchTerm"></ngb-highlight>
                </td>

                <td>
                  <ngb-highlight [result]="data.itemdesc" [term]="searchTerm"></ngb-highlight>
                </td>
                <!-- <td>
                  <span class="badge" [ngClass]="data.iselectric ? 'bg-success' : 'bg-danger'">
                    {{ data.iselectric ? 'Yes' : 'No' }}
                  </span>
                </td>

                <td>
                  <ngb-highlight [result]="data.hsncode" [term]="searchTerm"></ngb-highlight>
                </td> -->

                <!-- <td>
                  <ngb-highlight [result]="data.custprice" [term]="searchTerm"></ngb-highlight>
                </td>

                <td>
                  <ngb-highlight [result]="data.dlrprice" [term]="searchTerm"></ngb-highlight>
                </td> -->
                <!-- <td>
                  <ngb-highlight [result]="data.igst" [term]="searchTerm"></ngb-highlight>
                </td> -->
                <td>
                  <span class="badge" [ngClass]="data.status ? 'bg-success' : 'bg-danger'">
                    {{ data.status ? 'Active' : 'Inactive' }}
                  </span>
                </td>

                <!-- <td>
                    <button class="btn btn-sm btn-light"
                      (click)="openDetails(itemModal,data); $event.stopPropagation()">Details</button>
                  </td> -->

              </tr>

              }

            </tbody>
          </table>
        </div>
        <div class="row justify-content-md-between align-items-md-center">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
              <!-- Showing
              {{service.startIndex}} to
              {{service.endIndex}} of {{service.totalRecords}}
              entries -->
            </div>
          </div>
          <!-- Pagination -->
          <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end gridjs-pagination">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChange($event)" >
              </ngb-pagination>
              </div>
            </div>
          <!-- End Pagination -->
        </div>
      </div><!-- end card-body -->
    </div><!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<!-- item popoup -->
<ng-template #itemModal let-modal>

  <div class="modal-header item-modal-header">
    <h5 class="modal-title">
      Vehicle Item Details</h5>
    <button type="button" class="btn-close btn-close-white" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-3">
        <label class="form-label">Model Type</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.grpidno == 11 ? 'Parts' : 'Vehicle'" readonly>
      </div>

      <div class="col-md-3">
        <label class="form-label">Model Name</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.itemname" readonly>
      </div>

      <div class="col-md-3">
        <label class="form-label">Model Description</label>
        <textarea class="form-control form-control-sm" rows="2" readonly>{{selectedItem?.itemdesc}}</textarea>
      </div>
      
      <div class="col-md-3">
        <label class="form-label">Model Code</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.itemcode" readonly>
      </div>

<div class="col-md-3">
        <label class="form-label">Select Group</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.grpidno == 11 ? 'Spares' : 'FG'" readonly>
      </div>

      <div class="col-md-3">
        <label class="form-label">HSN Code</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.hsncode" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">OEM Model Name</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.oemmodelname" readonly>
      </div>
      
      <div class="col-md-3">
        <label class="form-label">Electric Vehicle</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.iselectric ? 'Yes' : 'No'" readonly>
      </div>
      
      <div class="col-md-3">
        <label class="form-label">No. Of Charger</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      
      <div class="col-md-3">
        <label class="form-label">No. Of Batteries</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.noofbatteries" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Battery Type</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.batterytypeidno" readonly>
      </div>
      
      <div class="col-md-3">
        <label class="form-label">System Voltage</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Motor Type</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Motor Watt</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Item CC</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.itemcc" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Service Days</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Accsry Billing</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">HSRP</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.cgst" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Speed Type</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.sgst" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Vehicle Type</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.vehtype" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Re-Ord</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">FAME || INCENTIVE</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.fame2amount" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Vehicle Color</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.colorName" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Vehicle Journey</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Vehicle Name</label>
        <input class="form-control form-control-sm" [value]="selectedItem?.itemname" readonly>
      </div>
      <div class="col-md-6">
        <label class="form-label">Vehicle Category</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      
      <div class="col-md-3">
        <label class="form-label">Warranty Period</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Month/Year</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Warranty Kms.</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Form-22 Header</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>

      <div class="col-md-3">
        <label class="form-label">Grace Period For Job</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>
      <div class="col-md-3">
        <label class="form-label">Remark</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>

      <div class="col-md-3">
        <label class="form-label">No. Of Tyres</label>
        <input class="form-control form-control-sm" [value]="" readonly>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary">Save</button>
    <button class="btn btn-light" (click)="modal.close()">Cancel</button>
  </div>

</ng-template>


<!-- end item popup -->